[2020-09-24 16:00] EsaiasTilly commented on #96
@melanchall Oh. Thank you! Sounds great!

[2020-09-25 12:03] melanchall commented on #96
Hmm, I see there are different MTC events: http://midi.teragonaudio.com/tech/mtc.htm. @EsaiasTilly what one do you want exactly?

[2020-09-25 14:09] EsaiasTilly commented on #96
@melanchall I need Full-Frame

[2020-09-25 17:49] melanchall commented on #96
From the link I've provided, Full Frame event is just a sysex one:

So to send a Full Frame event in DryWetMIDI:

[code]

So just provide desired values for all the variables. Pay attention to **hr**:

[2020-09-26 13:27] valimaties opened #97 "An unhandled exception of type 'System.AccessViolationException' occurred in Melanchall.DryWetMidi.dll"
Hi Maxim.

I use some code to play a note when I hit "A" key on my PC Keyboard. This is a test example for what I want to do in the future!
So, I have this code:

[code]

So, when I run this code it gives me this error:
[code]

What I am doing wrong?

PS: If I change
[code]
with
[code]
the error does not shows anymore, but no sound on MidiOutput

[2020-09-26 14:50] melanchall commented on #97
Hi,

I suppose it's because of your `using` statements:

[code]

So when `PlayNote` method exits device and playback disposed and destroyed. There is [info about it](https://melanchall.github.io/drywetmidi/articles/playback/Overview.html#non-blocking-playback) on the library docs:

So you need to remove `using` keyword on device and playback construction and call `Dispose` on these objects manuall

[2020-09-26 19:56] 737SimGuy opened #98 "Any way to send Channel number in a SendEvent(New ControlChangeEvent(control,value)?"
Any way to send Channel number in a    outputDevice1.SendEvent(New ControlChangeEvent(control,value)) ?

I tried preceding with a ChannelPrefixEvent but that didn't work.

Thanks,
James

[2020-09-26 22:15] melanchall commented on #98
Hi James,

You just need to set `Channel` property of an event:

[code]

[2020-09-26 23:04] 737SimGuy commented on #98
Hi,
Wow ok thank you! I’ll give that a go!

One more (last one I hope!): I have been extracting the ControlChange bytes to check for the incoming channel sent from the port. This working but is there an easier way to get the Channel number in a receive event? A property for that? I’ve poked around a lot and can’t find it.

James

[2020-09-26 23:54] melanchall commented on #98
James,

Just cast received event to `ControlChangeEvent` and check its `Channel` property:

[code]

[2020-09-27 00:32] 737SimGuy commented on #98
Hi,
Wow, that’s way to easy! Sorry I didn’t spot it.
Thank you for taking the time to respond. Great tool you have made.
James

[2020-09-27 09:08] valimaties commented on #97
Hi Maxim.
I changed using parts, and now it's working, partially.  When I press repeatedly on A key, after some events I get:
[code]

[2020-09-27 09:45] melanchall commented on #97
Hi,

Please check these conditions:

* You need to create `OutputDevice` only once and then use it. In your code I see that you create it in each call of `PlayNote`.
* When you want to play new note, call `Stop` on current `Playback` object. So when you press `A` key, call `playNote?.Dispose()` first.

[2020-09-27 09:47] melanchall commented on #98
Hi James,

Thank you for using the library and the issue!

Max

[2020-09-27 09:47] #98 closed

[2020-09-27 10:04] valimaties commented on #97
It is not happening in real music world.... You can play for example F3, A3, D4 with different starting points, but finishing on the same bar... Note off event is practically sent in the same moment, but note on will start differently.

[2020-09-27 10:26] melanchall commented on #97
In real world you construct playback from all the notes you want to play. So your example is non-real one, yes? I suppose you should test real scenario.

Can the issue be closed or you have more questions?

[2020-09-27 10:31] valimaties commented on #97
Sorry for reopened it!
In real-time, I mean I play notes in real-time.... I don't record some midi events and play them after finishing recording. I play notes by pressing on keys. This was a test replacing my Genos keyboard with PC keyboard, to see how I can send my notes to computer thru this API.

[2020-09-27 10:31] #97 closed

[2020-09-27 11:09] melanchall commented on #97
Thanks for using the library!

Feel free to open new issues or reopen this one if you have more questions.

[2020-09-27 17:38] melanchall commented on #97
@valimaties One more note. If I understand your task correctly, you want to press a key on PC keyboard and play a MIDI note while PC keyboard's key pressed.

In this case you don't need `Playback` at all:

[code]

So if key down, just send `NoteOnEvent` with corresponding note's number and channel. If key up, just send corresponding `NoteOffEvent`.

[2020-09-27 17:55] melanchall commented on #96
@EsaiasTilly Did you solve your task?

[2020-09-27 17:57] EsaiasTilly commented on #96
@melanchall I haven't had an opportunity to try it yet. But thank you for helping!

[2020-09-27 18:43] amigamod opened #99 "How to delete all/any empty/blank bars from a Midifile ?"
Hello,

I want to use drywebmidi to delete/remove any empty/blank bar(s) from midi files (the empty bar(s) can be anywhere inside the midi file and there can be 1x blank measure followed by 3x non blank measures, then 2x blank measures etc... all random)

I've looked at the documentation and I'm really starting coding in C#
I was thinking about doing something like that :
- phase 1 : Enumerating a

[2020-09-27 19:47] valimaties commented on #97
Yes... that it is!
Thank, you!

[2020-09-28 11:16] melanchall commented on #99
Hi,

I suggest following approach:

1. Split MIDI file by grid with step of 1 bar
2. Delete empty files that are result of splitting
3. Merge remaining files into new one

DryWetMIDI has tool for first step – [MidiFileSplitter](https://melanchall.github.io/drywetmidi/articles/tools/MIDI-file-splitter.html). But it seems the tool can be improved to solve your task more easily. I'll implement new fe

[2020-09-28 12:20] amigamod commented on #99
Hi, that seems very cool if you implement it in the MidiFileSplitter !

for me an emptybar is a bar which has "no midi event" and no "midi note" inside.

Thanks for your support ! :-)

[2020-09-28 12:48] EsaiasTilly commented on #96
Here's how I tried to implement it, but it is not recogniced as timecode by either my own program or Grand MA. I'm not sure if I did the right thing with cc and hr, but I think I did.

[code]

[2020-09-28 13:24] melanchall commented on #96
@EsaiasTilly What is `timer`? It seems you do a lot of redundant work.

[2020-09-28 13:26] EsaiasTilly commented on #96
`timer` is just a simple `System.Diagnostics.Stopwatch` I used to track the time.

[2020-09-28 14:29] melanchall commented on #99
@amigamod Can you please provide sample files with empty bars?

[2020-09-28 14:40] amigamod commented on #99
[mid.mid.zip](https://github.com/melanchall/drywetmidi/files/5293047/mid.mid.zip)

[2020-09-28 14:41] melanchall commented on #96
[`Stopwatch`](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.stopwatch) has `Elapsed` property which returns [`TimeSpan`](https://docs.microsoft.com/en-us/dotnet/api/system.timespan). `TimeSpan` has `Hours`, `Minutes`, `Seconds`, `Milliseconds` properties:

[code]

To calculate frames number we need to know SMPTE format. It can be one the following ones:

[code]

What format do you

[2020-09-28 14:45] EsaiasTilly commented on #96
30 FPS

[2020-09-28 15:07] amigamod commented on #99
[mid2.mid.zip](https://github.com/melanchall/drywetmidi/files/5293205/mid2.mid.zip)
and here is the second one.

[2020-09-28 15:25] melanchall commented on #96
Please try this code:

[code]

[2020-09-30 21:48] andreasbalzer commented on #95
Thank you very much for fixing this issue.

[2020-10-01 21:16] melanchall commented on #99
@amigamod  OK, thanks.

I think I've implemented all required things for MIDI file splitting. Changes are in _develop_ branch and not released yet, so you need either build the library by yourself from sources or take DLL from here: [DryWetMIDI.5.2.0-bin-net45.zip](https://github.com/melanchall/drywetmidi/files/5314638/DryWetMIDI.5.2.0-bin-net45.zip) or [DryWetMIDI.5.2.0-bin-netstandard20.zip](htt

[2020-10-01 21:23] #93 closed

[2020-10-01 21:23] melanchall commented on #96
@EsaiasTilly How it's going?

[2020-10-02 06:15] EsaiasTilly commented on #96
@melanchall  I'll try it as soon as I can.

[2020-10-02 21:37] valimaties opened #100 "Write nested Custom Chunks back to file"
Hi Maxim.

I have some nested custom chunks in my file.
Only one CASM chunk in file which contains multiple CSEG chunks. Each CSEG chunk contains one Sdec chunk,  one or more Ctab chunk (or Ctb2) and optionally one ore more Cntt chunks. Sdec, Ctab/Ctb2 and Cntt are the only which I can modify. CASM and CSEG will change only its size, according to those 3 last sections, when I will write back to fi

[2020-10-02 21:51] melanchall commented on #100
Hi,

Can you please confirm that I understand the structure correctly?

[code]

Is that right?

Also you write:

So what do you want to read? Just chunks objects with byte arrays of data without parsing of structure?

Also can you please provide a sample file?

[2020-10-03 07:06] valimaties commented on #100
Hi Maxim. Yes, it is very good representation, exactly as I expected.
Sdec, Ctab, Ctb2 and Cntt are bytes array I will parse, no problem. The file is the same as OTSc chunk.
[Starting of page 11](http://www.wierzba.homepage.t-online.de/StyleFileDescription_v21.pdf), you will have all documentation about those chunks.

[2020-10-03 10:06] melanchall commented on #100
First of all, let's create helper methods:

[code]

Then we'll declare a couple of base classes:

[code]

`SimpleChunk` represents those leaf chunks of the structure tree. `ComplexChunk` is a chunk tat contains another chunks inside.

Now we are ready to implement all required chunks classes:

[code]

Now we can read a file with all these chunks parsed:

[code]

After reading we'll get following o

[2020-10-03 11:38] valimaties commented on #100
This is great! Thank you very much!

[2020-10-03 11:39] #100 closed

[2020-10-04 06:56] amigamod commented on #99
Perfect, I'll try. Very best regards.

[2020-10-05 11:08] valimaties commented on #94
A problem.
I have tested this only for OTS chunk. But seems Midi data in file will not be read anymore. Where to be the problem, in file header?
I can find the OTS in new file, but the file itself is not readable by keyboard anymore!

[2020-10-05 11:18] valimaties commented on #94
To replace OTS in new file, with one I choose from choosen file, I used:

[code]

[2020-10-05 11:39] valimaties commented on #94
![Differencies](https://user-images.githubusercontent.com/49796453/95075153-6761bc00-0718-11eb-869f-23d6991b2376.jpg)

There are differences between files, before (left) and after (right) saving!

[2020-10-05 12:45] melanchall commented on #94
Can you please describe the problem in more details?

1. What file did you modify?
2. What's wrong with modified file?
3. On your screenshot files are with _prs_ extension. I don't know what a file it is.

[2020-10-05 16:26] valimaties commented on #94
Hi Maxim.
As you can see from the picture, the file in the left part is unmodified style file (explain above).  In the right part, there is same file after I changed OTS Chunk's track chunks, using Write function. The thing is OTS Chunk is ok. The rest of file is not ok. Something is changed from the original. [This](http://www.mediafire.com/file/2n01zu63c6i74ef/Ballroom.zip) is a zip folder with

[2020-10-05 17:05] melanchall commented on #94
Thanks.

I confirm that the structure of your files is lost on `Write`. I'll examine the issue and let you know about what's going on and how to fix it.

[2020-10-05 17:14] melanchall commented on #94
OK, I found what's going on.

In your files you have first chunk of `TrackChunk` type. But when you call `Write` specifying `MultiTrack` file format (by default) DryWetMIDI restructures all track chunks so each one contains events only for single MIDI channel. So your first track chunk explodes into seventeen (16 for each MIDI channel and one for tempo map events) separate track chunks and thus yo

[2020-10-05 17:55] valimaties commented on #94
Yes. I have to retain the original structure file!

[2020-10-05 18:00] melanchall commented on #94
Well, in this case I need to create new setting within `ReadingSettings`. I 'll let you know when new API is implemented.

[2020-10-05 18:02] valimaties commented on #94
Ok, thank you very much!
I appreciate that!

[2020-10-05 18:08] EsaiasTilly commented on #96
@melanchall Still no timecode gets recognized by Grand MA 2. I've found another solution though.

[2020-10-05 18:18] melanchall commented on #96
I suppose it's a feature of Grand MA 2 that it doesn't recognize those events. What solution did you find?

[2020-10-05 19:57] melanchall commented on #94
Oh, in your case there is a simple solution right now. Just write file with the same format as original one:

[code]

[2020-10-05 20:10] valimaties commented on #94
Solved ;)

[2020-10-06 11:11] EsaiasTilly commented on #96
@melanchall I'm sending the timecode using another program and reading it from my program instead of sending it. So my program is triggered from MTC instead of sending the MTC.

[2020-10-06 11:35] melanchall commented on #96
OK :) So the issue can be closed?

[2020-10-06 13:13] EsaiasTilly commented on #96
Sure! Thank you for the help!

[2020-10-06 13:13] #96 closed

[2020-10-13 16:45] TDNCompute opened #102 "DryWetMidi Hides Some Members of the Timer Classes"
Some of the critical members of the timer classes are protected and therefore can't be used by an application without subclassing. It would be nice if there was an accurate tempo PPQN clock (96 PPQN minimum) with the necessary functions to implement time-accurate arpeggiators and other real-time MIDI applications.

[2020-10-15 14:04] samuel-carradice opened #103 "Incorrect delta-times when recording"
I am developing a simple record and playback application. Using the short examples in the documentation, I can record a file from a MIDI keyboard and play back, but the play back speed is wrong. Looking at the raw data, it is clear that the fault is in the recording, not in the play back. All event delta-time values are being saved as single bytes instead of variable length quantities. Do you have

[2020-10-15 14:43] melanchall commented on #103
Hi,

Can you please provide details about the problem?

Saved where? What is raw data? Did you save recorded data to MIDI file and viewed it in hex editor? MIDI file writing always uses VLQ for delta-times, I suppose that's not the root cause of your problem.

[2020-10-15 15:36] samuel-carradice commented on #103
This is the code I am using...
            InputDevice _input = InputDevice.GetByName("USB Audio Device");
            Recording _recording = new Recording(TempoMap.Default, _input);
            _input.StartEventsListening();
            _recording.Start();
            ...
            _input.StopEventsListening();
            _recording.Stop();
            MidiFile file = _recording.ToFile();

[2020-10-15 15:44] melanchall commented on #103
Hmm, OK thanks for the info. I'll check it and let you know.

[2020-10-15 15:44] samuel-carradice commented on #103
Thanks. Here is the HEX output from a short file. I have played two fast notes followed by two long notes, but the delta-times are clearly wrong...

4d 54 68 64 00 00 00 06 00 00 00 01 00 60 4d 54
72 6b 00 00 00 24 22 90 3c 64 13 90 3c 00 17 90
3c 64 16 90 3c 00 1a 90 3c 64 11 90 3c 00 16 90
3c 64 08 90 3c 00 00 ff 2f 00

[2020-10-15 17:23] melanchall commented on #103
Provided bytes are indeed represent MIDI file with delta-times that can be packed to one byte. BUT I've created additional unit tests to check that any delta-times are written correctly, and those tests are passed. So the error is not with MIDI file writing.

Well, can you please show me events stored in recording after it's stopped? Just screenshot from Visual Studio in debug. Like this:

![image

[2020-10-15 18:09] samuel-carradice commented on #103
I have played a short note, a long rest and a long note. GetEvents returns this...
![Image1](https://user-images.githubusercontent.com/25862706/96167663-a4e3f780-0f17-11eb-8912-d1fc52c36ba5.jpg)

The list includes ActiveSensingEvents which I have filtered out - but the fact I get these may be significant? Disregarding these, the four event appear correct, with delta-time values of 16 for the short

[2020-10-15 18:38] melanchall commented on #103
@samuel-carradice Can you please leave all events as is, without filtering _ActiveSensingEvents_ and show me new screenshot? And please drop the recorded file to a comment as mid file, not a screenshot with bytes so I can analyze all things by myself.

[2020-10-15 19:15] samuel-carradice commented on #103
Certainly. Here is a file with Active Sensing events. There were a couple before the first note event.
![Image3](https://user-images.githubusercontent.com/25862706/96175215-7a4b6c00-0f22-11eb-8417-41bfdf46dd12.jpg)
I see the note events are all shown as "Note On" although they are obviously on and off events.

I couldn't attach the .mid file directly but hopefully it is included in this zip file..

[2020-10-15 19:33] melanchall commented on #103
A couple of moments to note:
* I'm sure that Note On events with velocity of zero instead of Note Off ones is a feature of your keyboard. Some keyboards can do it to use running status for events of same type. DryWetMIDI records events as is, without processing. You see exactly what's incoming. I have unit tests that guarantee that events receiving works properly.
* Active Sensing events should no

[2020-10-15 20:01] melanchall commented on #103
Checked it now :) Yes, those Active Sensing events is a root cause of the problem. I'll implement filtering such events and let you know. Thanks for the issue!

[2020-10-16 16:56] melanchall commented on #103
I've fixed the issue. MIDI file will not contain events prohibited by SMF specification anymore and delta-times will be correct. Changes are in _develop_ branch. So you can either build the library from sources or take DLL from [DryWetMIDI.5.2.0-bin-net45.zip](https://github.com/melanchall/drywetmidi/files/5393175/DryWetMIDI.5.2.0-bin-net45.zip) or [DryWetMIDI.5.2.0-bin-netstandard20.zip](https://

[2020-10-16 18:07] samuel-carradice commented on #103
I have removed the Nuget package from my VS solution, deleted the existing dll and xml files, downloaded version 5.2.0 for .NET 4.5 from your link, and added a reference to the new dll. I still get Active Sensing Events in the GetEvents collection. I strongly suspect this issue is specific to the keyboard I am using for development, and it may not be a problem with the actual device I am aiming to

[2020-10-16 18:17] melanchall commented on #103
It's correct that `GetEvents` returns all events. The fix is `ToFile` will produce a MIDI file without undesirable events and thus playback on this file will be correct. Let me know that original problem is solved.

[2020-10-16 18:21] samuel-carradice commented on #103
Thanks for the clarification. Sorry I didn't get that far in my test! The problem is fixed. Thanks very much for your prompt response.

[2020-10-17 09:55] #103 closed

[2020-10-17 12:30] melanchall commented on #102
@TDNCompute Will you provide the info?

[2020-10-17 12:31] melanchall commented on #99
@amigamod Any news?

[2020-11-05 17:52] valimaties commented on #94
Hi Maxim.
I reopened this issue, because `OriginalFormat` will not do very good things on every file, as there are some files which will be written as MultiTrack, so when I will write it back, OriginalFormat is MultiTrack, and will explode Track in those 17 tracks...
Maybe there are some other things to do!
Thanks.

[2020-11-06 10:53] valimaties commented on #94
It is not ok.
After I save the file, new created file has a bigger size.

For tests, I upload a file. Copy it to a new one. Select OTS chunks 0 and 1 and replace them in the second file.
First file has 57353 bytes, second, after save it, will have 60788 bytes.

[Beguine_G.T158.prs.zip](https://github.com/melanchall/drywetmidi/files/5500770/Beguine_G.T158.prs.zip)

[2020-11-06 16:40] melanchall commented on #94
Hi,

Sorry but I don't understand you. Replace with what? What exactly should I do?

In your file I see only one OTS chunk:

![image](https://user-images.githubusercontent.com/26361185/98390545-93999100-2066-11eb-804e-eef3ae9869d4.png)

If I just save original file to the new one with `SingleTrack` format, I'll get a file with greater size. But there is nothing wrong with this. I suppose it's due

[2020-11-06 18:49] valimaties commented on #94
Hi Maxim.
Why CompressionPolicy shows as deprecated? It's ok?

[2020-11-06 19:07] melanchall commented on #94
Yes, that's OK. There will be new API in the next release so I marked `CompressionPolicy` as obsolete.

[2020-11-06 19:32] valimaties commented on #94
Ok.. Before I close it I must made some tests! :)

[2020-11-07 15:28] valimaties commented on #94
Hi Maxim.
As I said, something is not ok...

Take as example the style I give to you.
OTS Chunk contains 4 track chunks.
and let's see some code:

[code]
The structure of Truck Chunk from the beginning of the copied file is different than Truck Chunk from the unmodified file! Why?
I opened both files with NotePad++ Compare plugin and these are :

![MidiStructureProblem](https://user-images.githubu

[2020-11-07 16:56] melanchall commented on #94
First of all, you have an error here

[code]

After first line **the previous second chunk becomes first one**. So in fact you're removing first and **third** chunks and thus change order of chunks after inserting new ones. If you want to remove first and second you need to call `RemoveAt(0)` two times:

[code]

Regarding difference at the start of first MTrk chunk I'll answer later.

[2020-11-07 18:13] melanchall commented on #94
@valimaties Despite of different binary content, do you see any issues with new file?

[2020-11-07 19:40] valimaties commented on #94
Yes Maxim, indeed, removing consecutively, it is an error, those for lines must be intercalated
[code]

As, if I see issues, I don't know yet. I have to dig much more in midi track as well, using style manual, and to parse that midi track to see if there are differences.

[2020-11-07 22:40] Echoframe opened #104 "Using Midi track to trigger effects at the time of the note"
Hi, this has probably been asked dozen of times but i just don't understand from reading the existing issues (like#79).
What i would like to do is:

-read the midi file
-have the notes map some sort of "active" or "playing" to a variable or function (if its the note value on a scale from 1 to 88 even better)
-use said variable/function to trigger other stuff (like blendshapes)

If what i described

[2020-11-08 11:17] melanchall commented on #94
First of all, I've created simple program:

[code]

So we replace first two track chunks of OTS chunk, write file _Beguine_G.T158.prs_ to _Beguine_G.T158_copy_rewritten.prs_ and read new file.

Now let's compare all track chunks of original file and rewritten one:

[code]

If we run the program, we'll see following output:

[code]

What does it mean? It means that content of all track chunks in re

[2020-11-08 11:19] melanchall commented on #104
Hi,

Can you please describe the problem in more details? Do you need to start [playback](https://melanchall.github.io/drywetmidi/articles/playback/Overview.html) of a MIDI file and do some things when some notes are started playing?

[2020-11-08 11:40] valimaties commented on #94
OK.
Thanks a lot Maxim!
Right now I will close this issue and I hope not to open again
👍 🥇

[2020-11-08 11:40] #94 closed

[2020-11-08 12:52] Echoframe commented on #104
Hi, thanks for answering me first of all!

I would like to have a midi file direct the state of a variable or function at runtime, meaning whenever there is a note in the midi file the value changes accordingly.

For a song that has only three notes that are 1 second apart that would be:

Start

variable = [Notenumber] (something like 0 for lowest note possible) **>at time 0 sec<**
variable = [Not

[2020-11-08 14:26] melanchall commented on #104
You can start playback without output device and attach event handler triggered by notes starts. Small example:

[code]

Don't forget to call `_playback.Dispose()` when you're done with playback or your program.

Please read these pages to learn moreabout playback API:
* https://melanchall.github.io/drywetmidi/articles/playback/Overview.html
* https://melanchall.github.io/drywetmidi/api/Melanchall

[2020-11-08 18:09] Echoframe commented on #104
Okay, i was trying to have it put out the note.NoteNumber with Debug.Log but it doesn't work. Is there a data type issue here?

[code]

[2020-11-08 18:30] melanchall commented on #104
Provide the full code of your program please.

[2020-11-08 18:55] Echoframe commented on #104
[code]

[2020-11-08 19:46] melanchall commented on #104
It seems you just copy/paste my code. I suppose your `Main` method never called, right?

I suppose you use Unity. You should learn how to use it. From what I know, you need use `Start` method which called when you press **Play** button in Unity editor. Please check out this issue (it seems it's similar to yours): [trigger object with a note in Unity](https://github.com/melanchall/drywetmidi/issues

[2020-11-09 17:27] melanchall commented on #102
For info, you can always use [`MidiClock`](https://melanchall.github.io/drywetmidi/api/Melanchall.DryWetMidi.Devices.MidiClock.html) class with any desired tick generator (high precision one used by default).

I'm closing the issue since there is no info about the problem.

[2020-11-09 17:55] TDNCompute commented on #102
your previous messages wound up in my spam folder. If you want to give me a
day I can elaborate on the issue for you.

On Mon, Nov 9, 2020 at 12:28 PM Maxim Dobroselsky <notifications@github.com>
wrote:

[2020-11-09 18:05] melanchall commented on #102
Yes, of course :) Reopening.

[2020-11-13 16:13] melanchall commented on #104
@Echoframe Did you solve the problem?

[2020-11-13 16:14] melanchall commented on #102
So... Any info?

[2020-11-15 04:25] TDNCompute commented on #102
I wrote a small program to route midi in to midi out to utilize my new keyboard controller with an old synthesizer module I had. This program proved to be useful, so I added more features to control the synthesizer module such as program/bank selection, sustain pedal, etc.  Now I would like to add an arpeggiator to the program. An arpeggiator is a tool that uses MIDI to cycle through a pre-program

[2020-11-15 14:41] melanchall commented on #102
DryWetMIDI provides [MidiClock](https://melanchall.github.io/drywetmidi/api/Melanchall.DryWetMidi.Devices.MidiClock.html) class which can be used as timer for your program (please read the documentation by provided link). But it accepts interval in terms of milliseconds, so we need a method to convert BPM to milliseconds. So we can use this code:

[code]

Please let me know if it works.

[2020-11-17 23:09] CIRCE-EYES opened #105 "Some basic functions."
![Screenshot](https://user-images.githubusercontent.com/69172266/99461265-c6c70480-2931-11eb-8f16-56cc97e4dfb9.jpg)

[Basic_Functions-From DryWet-Melanchall.zip](https://github.com/melanchall/drywetmidi/files/5556715/Basic_Functions-From.DryWet-Melanchall.zip)

Well, this is a simple application that allows you to see only some functionalities of the wonderful library of the author MELANCHALL - Dr

[2020-11-19 10:10] melanchall commented on #105
@CIRCE-EYES Thanks for the program and for using the library! I hope your app will be helpful for other users of the library.

Max

[2020-11-19 10:10] #105 closed

[2020-11-29 07:19] mklemarczyk opened #106 "Library uses obsolete Windows function"
In the file:
https://github.com/melanchall/drywetmidi/blob/71bc4cabe87e8c69cba90a4f2211753cfe838118/DryWetMidi/Devices/Clock/TickGenerator/MidiTimerWinApi.cs

Library uses obsolete Windows function:
[code]
https://docs.microsoft.com/en-us/previous-versions/dd757634(v=vs.85)
https://docs.microsoft.com/en-us/windows/win32/multimedia/starting-a-single-timer

It would be recommended to replace method

[2020-11-29 12:36] melanchall commented on #106
Hi,

Thanks for information. But DryWetMIDI uses `setTimeEvent` intentionally. Although it's obsolete, it provides the highest resolution among all timer APIs. There are number of threads on the web regarding this subject. For example:

* https://social.technet.microsoft.com/Forums/windows/en-US/f92c4d77-438a-4847-b214-5c4c805f7b25/createtimerqueuetimer-or-timesetevent-precision-with-w10?forum=win

[2020-12-01 16:19] mklemarczyk commented on #106
I understand your point. I also looked into this issue before. The subject is very poorly documented. Moreover the standard times of C# has 1ms resolution under Linux systems. In addition to it, the demo application to verify the resolution of system shows that 0.1 ms resolution can be achieved, but the method (timeBeginPeriod) used by Multimedia Timers accept only integer number.

I do not say th

[2020-12-01 17:46] melanchall commented on #106
Hmm, thanks for the info. Very interesting. I'll do some tests and let you know what I get. Thanks again!

[2020-12-04 23:22] 3yggy opened #107 "Channel Sound"
Do midis store channel sounds/instrument names. How am I meant to realize the sounds other than by using standards like drums on 9, which no one follows?

[2020-12-05 10:57] melanchall commented on #107
Hi,

MIDI files can contain [Program Change](https://melanchall.github.io/drywetmidi/api/Melanchall.DryWetMidi.Core.ProgramChangeEvent.html) and [Instrument Name](https://melanchall.github.io/drywetmidi/api/Melanchall.DryWetMidi.Core.InstrumentNameEvent.html) events. So you can take such events from a MIDI file and decide what instrument used.

For example:

[code]

[2020-12-05 19:02] 3yggy commented on #107
Hello,

Is there no connection to the channel and the InstrumentName event or its inheritance? If I want to find the first instrument played in each channel, do I have to look at the note following the instrument change?

Thank you

[2020-12-06 14:59] melanchall commented on #107
MIDI channel is not applicable to meta events. Instrument Name event is a [meta event](https://melanchall.github.io/drywetmidi/api/Melanchall.DryWetMidi.Core.MetaEvent.html) and thus yes, you need to look at following channel events (like Not On on any other inherited from [ChannelEvent](https://melanchall.github.io/drywetmidi/api/Melanchall.DryWetMidi.Core.ChannelEvent.html) class) within the sam

[2020-12-07 00:36] 3yggy commented on #107
Thank you very much

[2020-12-07 00:36] #107 closed

[2020-12-08 12:48] andreasbalzer opened #108 "Uses unsupported API in UWP"

[2020-12-08 12:49] andreasbalzer commented on #108
Validating UWP packages using DryWetMidi to deploy applications to the store results in

FAILED
Supported APIs
Error Found: The supported APIs test detected the following errors:
API midiInAddBuffer in winmm.dll is not supported for this application type. Coimbra.dll calls this API.
API midiInClose in winmm.dll is not supported for this application type. Coimbra.dll calls this API.
API midiInGetDe

[2020-12-08 18:41] melanchall commented on #108
Hi, @andreasbalzer,

Thanks for the provided failure log. I'll try to provide UWP compatible package. But please be patient, it's not super quick task :)

[2020-12-10 19:20] melanchall commented on #104
I'm closing the issue since there are no comments.

[2020-12-10 19:20] #104 closed

[2020-12-10 19:21] melanchall commented on #102
@TDNCompute Any news?

[2020-12-10 19:23] melanchall commented on #99
I'm closing the issue since there are no comments.

[2020-12-10 19:23] #99 closed

[2020-12-11 02:39] TDNCompute commented on #102
Yes, this worked enough for my purposes.

[2020-12-11 16:24] #102 closed

[2020-12-13 17:50] melanchall commented on #108
I'm going to dive into the task after 16 Dec after my vacation. From what I know I need to create developer account on Microsoft site to be able to validate package publishing. @andreasbalzer am I right?

[2020-12-17 12:50] melanchall commented on #108
Well, I've created developer account and run validation to see the same failures. I'm going to implement the system within the library to automatically create UWP compatible package.

[2020-12-19 15:10] melanchall commented on #106
I found very useful document from Microsoft: [Timer-Resolution.docx](https://github.com/melanchall/drywetmidi/files/5719606/Timer-Resolution.docx). I'll try to implement recommendations from there and rework how DWM uses high resolution for internal timer.

Thanks again for the issue!

[2021-02-01 01:24] ted-dgk opened #109 "Out Of Memory Win 10 on StartEventsListening"
I have been working with midiclock and output devices without issue. Much fun - thank you.

Now I am moving to input device (Launchkey 49 MKII) and have an out of memory exception. Here is the code:
[code]
As soon as I call StartEventsListening I get the exception. I know this isn't much to go on and I don't expect you to tell me what the issue might, but I have no idea of how to debug this. Anyth

[2021-02-01 07:29] melanchall commented on #109
Hi Ted,

Hm, strange. I never heard about such problems from users of the library. The only idea I have is:
1. download sources from **master** branch
2. build the library by yourself in **Debug** mode (you can throw away _Tests_ and _Benchmarks_ projects)
3. reference the DLL you've built instead the one you're referencing currently

Now you can dig into `StartEventsListening` in debug to know wh

[2021-02-01 14:06] ted-dgk commented on #109
Just started looking at it

A Pinvoke is returning the error. Possible driver issue?? I'll continue to look. Thanks.

`public static extern uint midiInOpen(out IntPtr lphMidiIn, int uDeviceID, MidiWinApi.MidiMessageCallback dwCallback, IntPtr dwInstance, uint dwFlags);
`

[2021-02-01 14:57] ted-dgk commented on #109
I rebooted the machine and did not start any programs so nothing should have been accessing the keyboard. I reran and now get past that error but get a new one:

The specified device is already in use.  Wait until it is free, and then try again.

[2021-02-01 22:53] ted-dgk commented on #109
Midi on windows seems kind of wonky. Many posts said you did not need a driver if your device was class compliant (and it seemed to work in many situations like js). But the Launchkey website had a specific driver for this device family and I installed it. After a few no-go, things started working.

Hopefully this helps someone else.

Thanks for the help. Great Library.
Ted

[2021-02-02 07:23] RadioDisney opened #110 "BeatsPerMinute value error"
Melanchall.DryWetMidi.Interaction.Tempo.BeatsPerMinute
When the bpm is 69.999988333335278，this feild return 69

[2021-02-02 07:43] melanchall commented on #109
Thank you for your investigation on Launchkey driver. Definitely useful information. And thanks for using the library! :)

[2021-02-02 07:43] #109 closed

[2021-02-02 07:44] melanchall commented on #110
Hi,

Yes, we need to change the type of BeatsPerMinute to `double`. I'll do this and let you know.

Thanks,
Max

[2021-02-02 11:33] melanchall commented on #110
I changed the type of the `BeatsPerMinute` property to `double`. Now it's up to you how to round its value.

Changes are in _develop_ branch. You can either build the library from sources or take new DLL from here:
* [.NET Framework version](https://artprodsu6weu.artifacts.visualstudio.com/Ada86e53e-02d0-42a7-ad86-d86986ae81da/d286d31e-d5f6-443f-b126-d81074c91872/_apis/artifact/cGlwZWxpbmVhcnRpZmF

[2021-02-06 15:55] melanchall commented on #110
@RadioDisney Is your problem solved?

[2021-02-13 18:14] Tony-Pappas opened #111 "Consecutive note durations cut-off after first note"
Hi, I'm trying to get started with drywebmidi, so I may be doing something wrong, but I can't seem to figure out why all consecutive notes are getting abruptly cut-off after the first note. It's as if the note-off is getting sent right after the note-on. But I'm not seeing that when tracing out on outputDevice.EventSent.

Is anyone able to reproduce this? Just take a standard type 1 midi file and

[2021-02-14 13:26] melanchall commented on #111
Hi,

Thanks for using the library. Unfortunately I can't see any issue with your code. I've created new solution, placed your code with your file into it and run the program. All notes are played correctly.

Here my code: [kPlaybackIssue.zip](https://github.com/melanchall/drywetmidi/files/5977765/kPlaybackIssue.zip). Please check it out. Do you have any additional code that can affect playback? Ca

[2021-02-14 16:21] melanchall commented on #110
Closing due to no response.

[2021-02-14 16:21] #110 closed

[2021-02-15 16:27] Tony-Pappas commented on #111
Hi Maxim,

Thank you for your quick response!

Okay, I looked into this again and it looks like there's a bug in Cakewalk TTS-1. It's working fine with other samplers. I thought it was something *I* was doing wrong, I should have done more research before posting.

So, I've worked with DryWetMIDI this weekend... and Maxim, this software is superb. I've been coding for many years, used a lot of mid

[2021-02-15 16:27] #111 closed

[2021-02-16 11:24] melanchall commented on #111
Hi Tony,

Thanks for such kind words! Waiting to look into your contribution :)

Max

[2021-02-17 08:20] dverriere opened #113 "Input Device"
Im trying to use InputDevice, and i observed taht the first event NoteOn is not received.
I only get the NoteOff event.
After that, all events are correctly received.
Any idea ?

C# Vs 2019, Windows 10

Ps : thank you for all the job yoou do for us !

[2021-02-17 10:24] melanchall commented on #113
Hi,

Thanks for using the library. Unfortunately my unit tests don't show any issues with `InputDevice`. Please show your code, how you get an instance of `InputDevice` and get events from it.

[2021-02-17 17:01] dverriere commented on #113
I had yje idea to use the demo code you give .
And ... i have the same problem.
As you can see i m using a MPK249 from Akai.

using System;
using Melanchall.DryWetMidi.Devices;

namespace TestInput
{
    class Program
    {
        private static IInputDevice _inputDevice;

        static void Main(string[] args)
        {
            _inputDevice = InputDevice.GetByName("MPK249");
            _in

[2021-02-17 17:10] dverriere commented on #113
Ok my investigations showed me, that i have to wait for some delay (it seems me one second), to begin to hit a piano key.
That delay disapear when the program is in memory and i rerun it.
So my last question is : is there any solution to know that the api is ready ?

[2021-02-18 11:54] melanchall commented on #113
I'm pretty sure it's related with your device (Akai MPK249). DryWetMIDI API (`StartEventsListening`) does all required actions. After method execution finished you can work with a device and receive events from it. But I suppose there are some special things about Akai keyboard or maybe how Windows works with this device. Maybe you need to install a driver for the keyboard?

Also I found similar i

[2021-02-24 12:49] melanchall commented on #113
@dverriere Can the issue be closed or you have something to add?

[2021-02-24 13:08] dverriere commented on #113
Ok you cant do anything for that poblem. Thank you for the good job !

[2021-02-24 13:30] #113 closed

[2021-02-25 12:13] DanUdal opened #114 "over 1k errors in unity 2018.4.32f1"
i want to use this library in my final year project for university. i'm working in unity 2018 to make a rhythm game and when i copy the file for this library into my unity project i receive over 1k errors all saying the same thing along the lines of "such and such variable/function/thing isn't recognised by c# 4.0". my supervisor has suggested it might be an issue with windows rather than unity as

[2021-02-25 13:18] melanchall commented on #114
Hi,

Some key notes about using the library in Unity:

1. DryWetMIDI written in C# 6 targeting .NET Framework 4.5 / .NET Standard 2.0
2. You don't need Tests, Tests.Common and Benchmarks projects

So you can't use the library code with C# 4. Since you're using Unity 2018, you can switch to new scripting engine to be able to use DWM. Here few links:

* https://docs.microsoft.com/ru-ru/visualstudio/

[2021-02-27 17:41] melanchall commented on #114
@DanUdal Any news?

[2021-03-01 12:45] seejkee opened #115 "Receiving Midi Time Code Events"
Hi,
I'm new to C# and trying to figure out how the Midi Time Code works.
I use `_inputDevice.EventReceived` and `_inputDevice.MidiTimeCodeReceived` EventHandler to receive **Full/Quarter Frame** MTC events.

When I try to use them together, only `_inputDevice.EventReceived` works.
Sorry for the stupid question, but why is `_inputDevice.MidiTimeCodeReceived` not working in this case?
[code]

01/03/

[2021-03-01 13:10] melanchall commented on #115
Hi,

Are you sure your device **always** send both MTC and SysEx events? Please show me what events arriving without additional processing (please comment `_inputDevice.MidiTimeCodeReceived += OnMidiTimeCodeReceived;`):

[code]

Capture as many events as you can to see that both MTC and SysEx (which are events of different types) are sent by the device.

[2021-03-01 14:30] seejkee commented on #115
Yes, I generate both events via **Vegas 14 Pro Edit** (full-frame messages called for cursors position changes), **MIDI OX** shows the received both events correctly.
I uploaded logs to my github:
https://github.com/seejkee/MidiTimeCodeEvents/

_just modified a bit for readability_
`Console.WriteLine(DateTime.Now + " sysex event: " + e.Event);`

[2021-03-01 15:13] melanchall commented on #115
Thanks, but we need to capture events again. Please modify your `WriteLine` to this:

[code]

Because those events are not sysex ones. Also I see in your log lines like this:

[code]

So you didn't comment `_inputDevice.MidiTimeCodeReceived += OnMidiTimeCodeReceived;`. Please comment it. We need to see raw MIDI events.

[2021-03-01 15:39] seejkee commented on #115
I'm sorry that, I fixed it now
https://raw.githubusercontent.com/seejkee/MidiTimeCodeEvents/main/console_Out_events.txt

[2021-03-01 15:54] melanchall commented on #115
I'm sure that shown events are not the same as you got when you opened the issue. In your code you have the line:

[code]

But in your log there are a lot of events that are not `NormalSysExEvent` so your program will crash on `sysEvent.Data`. Use this code:

[code]

So please uncomment

[code]

and check again.

[2021-03-01 16:28] seejkee commented on #115
[code]
@melanchall Thank you very much! It's worked :)

[2021-03-01 16:42] #115 closed

[2021-03-04 12:13] DanUdal commented on #114
all errors are now gone. i had unity targeting the wrong .net framework and after removing some files that were causing errors, which were the files you mentioned above and the files names export *website* stats, all errors are now gone. i have yet to try to code anything but i expect everything should work properly now. thanks for the help

[2021-03-05 13:56] #114 closed

[2021-03-22 15:35] melanchall commented on #106
Unfortunately it seems there is a bug in Windows 10 which leads to result of `timeBeginPeriod` is ignored, so there is no way to get high precision other than use `timeSetEvent` :(

I'll keep the issue open to remember about the problem.

[2021-04-04 08:39] MusicalMiqo opened #117 "Feature request: create virtual midi ports"
It would be great if drywetmidi can create virtual midi ports which other applications can listen/send data to. Just like the way loopMIDI functions, except we'll be able to do it in-library. Would this be easy/practical to implement? Thank you so much!

[2021-04-04 10:34] melanchall commented on #117
Hi,

Unfortunately it's not possible to implement this feature in the near future. loopMIDI and other loopback MIDI software works due to custom Windows driver which force Windows think that there is a MIDI device in the system. So even if DryWetMIDI will provide this feature, you'll need to install a driver, so there is no any difference with mentioned software.

Also I'd like to note that the di

[2021-04-15 01:24] MoogleTroupe opened #118 "Feature Request: Strong Name the assembly"
Please strong name the nuget package. It is recommended to do so on open source libraries, and to check in the signing key to the git repo.

https://docs.microsoft.com/en-us/dotnet/standard/assembly/strong-named

It doesn't affect projects that are not strong named, but projects that are cannot use this library from nuget.

[2021-04-15 09:37] melanchall commented on #118
PR merged. Thank you!

[2021-04-15 09:37] #118 closed

[2021-05-17 14:03] jrdndj commented on #79
hi! Ive been following this issue as well. If it is not too much, may I ask for the code of the complete project as well? Im trying to recreate the same piano roll as well and this would greatly help me.

[2021-05-17 15:34] melanchall commented on #79
@ZdravPrav can I give the sample project to @jrdndj ?

[2021-05-25 19:34] jskeet opened #121 "Intermittent "Undefined external error" takes down app when debugging"
I've just started using the library, and love it... but I've got a problem that I don't yet understand.

I've only seen it when using a "Fore" MIDI to USB cable (the actual MIDI device it's talking to doesn't seem to matter) but it seems that if it's going to happen, it happens the first time I try to play a file on any device. If it works once, it keeps working until the process is finished.
When

[2021-05-25 19:37] jskeet commented on #121
(I'm aware of `OutputDevice.GetByName`, but in the real code I'm also logging all the actual devices, hence this approach. I'd be surprised if that caused an issue.)

[2021-05-25 19:47] jskeet commented on #121
Note on frequency of error: yesterday it seemed to be happening about 50% of the time. Today it's more like 10%-20%. It's *possible* that adding `outputDevice.PrepareForEventsSending()` helps, but I don't have enough evidence to say for sure yet.

[2021-05-25 19:47] jskeet commented on #121
Ha... and the next time I test it, I see that no, `PrepareForEventsSending` doesn't prevent this. But the exception isn't thrown until I start actually playing back the file.

[2021-05-26 09:17] melanchall commented on #121
Hi @jskeet,

Thanks for using the library!

From the call stack you've provided there are two possible places where error occured:

* Windows MIDI driver (or driver of your hardware)
* your MIDI hardware

`SendShortEvent` just calls Windows API method [`midiOutShortMsg`](https://docs.microsoft.com/en-us/windows/win32/api/mmeapi/nf-mmeapi-midioutshortmsg). `ProcessMmResult` method of DWM just handl

[2021-05-26 10:38] jskeet commented on #121
Can you please look in debug, what kind of MIDI event leads to the exception?

It's a program change event on channel 11, changing to program number 9. This is the first event sent to the device. (The first several events in the file are all program change for channel 11. I suspect this may have a specific meaning for the intended device.) Interestingly, I've managed to reproduce it - just once -

[2021-05-26 12:09] jskeet commented on #121
Okay, I've now managed to reproduce it *reasonably* reliably (see below), and with very brief code:

[code]

The key to making this fail is to wait a while between runs. Basically, you can run the code above and it's fine... wait a minute, run it again, and it fails. Run it immediately afterwards, and it's fine. It *feels* like the driver effectively "goes to sleep" and fails the first event sent

[2021-05-26 13:03] jrdndj commented on #79
If you could maybe send the resources to jrdn.deja@gmail.com so I could check them out. Im a starter at unity so seeing the code would at least help me build the piano roll visualizer :D

[2021-05-26 13:12] melanchall commented on #121
Thanks for such extensive investigation!

What if you use another MIDI events? For example, what if you send bunch of `NoteOffEvent` instances?

In fact, multimedia thread will not fail, it's a system thread persisted in Windows. But a program thread will fail and yes, it's not OK. It can be easily fixed from my side by handling an error: swallow it and raise an event like `OutputDeviceErrorOccurr

[2021-05-26 13:40] jskeet commented on #121
- NoteOffEvent: fails
- NoteOnEvent: fails
- ChannelAftertouchEvent: fails
- PitchBendEvent: fails
- NormalSysExEvent: doesn't fail, but doesn't stop other events failing afterwards (doesn't "wake up" whatever has gone to sleep)

Given that I need to wait a minute between each test, I don't think it's worth testing that further ;)

Yes, that sounds great to me. Thanks!

Not to worry. In my specifi

[2021-05-26 16:19] melanchall commented on #121
Well, I'll add discussed API, build prerelease package and let you know.

Thanks for the issue!

[2021-05-26 18:04] jskeet commented on #121
Thanks! And please don't feel any urgency on my part. I know it's a slightly odd situation that's caused by a dodgy driver :)

[2021-05-27 13:53] melanchall commented on #121
Hi @jskeet,

I've added `DeviceErrorOccurred` event to the `Playback` class. I decided not to add property-switcher of the behavior, so exceptions in `IOutputDevice.SendEvent` will always be swallowed and will cause the new event fired.

You can install [5.2.1-prerelease6](https://www.nuget.org/packages/Melanchall.DryWetMidi/5.2.1-prerelease6) package from NuGet to try new API.

[2021-05-27 13:57] jskeet commented on #121
Great - thanks so much. I'll try it over the weekend!

[2021-05-27 14:54] jskeet commented on #121
FYI: I've just received my new USB MIDI cable (different manufacturer), and that appears to have the same problem. Interesting.

[2021-05-28 17:12] melanchall commented on #121
I've tested the library on USB-MIDI adapter some time ago and all was working fine.

Looks like Windows MIDI driver problem...

[2021-05-28 17:22] jskeet commented on #121
Hmm. I wouldn't be surprised if different cables used different adapters.

I'm currently struggling with my workaround - the "send one event, and that wakes it up" doesn't seem to be working in my WPF app... so even with the prerelease6 package, we don't get an exception (and the event is fired) but it doesn't go from "broken" to "working" either. Will investigate more over the weekend.

[2021-05-29 00:45] akira0245 opened #122 "How do I identify which track a MidiEvent belongs to when a Playback is in progress?"
Hi, I'm using a custom IOutputDevice to play a PlayBack, I want this device process NoteEvent differently between different Tracks. but a NoteEvent doesn't have a track property. How should I solve this?
Thank you.

[2021-05-29 05:59] jskeet commented on #121
This doesn't affect the library, but is for the sake of anyone coming to this issue later on...

I worked out what I was doing differently: sending the failed event doesn't fix *that* `OutputDevice` instance; it wakes up the driver so that the *next* `OutputDevice` you create for that device will work. It *looks* like the device then continues to work even after a long delay, so this is basically

[2021-05-29 13:56] melanchall commented on #121
So your workaround is something like that:

[code]

?

[2021-05-29 14:01] melanchall commented on #122
Hi,

Hmm, it's not possible right now. I'll think how to provide such info during playback and come back to you.

Thanks!

[2021-05-29 14:34] jskeet commented on #121
Pretty much, yes :)

[2021-05-29 17:34] melanchall commented on #122
@akira0245 Can you please say what kind of logic do you want to implement? Something like "if the number of track chunk is N, skip an event"?

[2021-05-29 21:26] akira0245 commented on #122
If a NoteEvent has a Track property, my Device should look like this. This Device is very basic and now only handles NoteOn and NoteOff. I just need to do an action before the NoteOn of a different Track is played. Thank you!
[code]

[2021-05-29 23:42] akira0245 commented on #122
Yes, it would also be handy to be able to skip events so that I don't have to regenerate a PlayBack when I enable or disable a track.

[2021-05-30 07:43] melanchall commented on #122
Thanks for clarification. I'll think about how to design the new API. I suppose signature of the `SendEvent` will be changed to provide an event metadata.

[2021-05-30 07:46] melanchall commented on #121
Interesting :-) Thank you for providing a workaround for the problem!

Whar about the issue? Can it be closed or you plan to continue investigation?

[2021-05-30 07:47] jskeet commented on #121
Happy to close it - thanks for all your work :)

[2021-05-30 07:47] #121 closed

[2021-05-30 14:31] melanchall commented on #122
It seems it's quite complicated. There is a big pitfall with assigning track chunk number to event sent to a device by playback. Some events can be not presented in any track chunk and can be generated by playback on the fly. Cases where this occurs:

1. You set new time (with `MoveToTime` method, for example) and new time falls in middle of some note. If `TrackNotes` property set to `true`, new `

[2021-05-30 23:11] akira0245 commented on #122
Thanks for your work! For my purposes, any extra code is fine as long as there is a way to get enough midievent metadata. I approve it's a good idea to pass these information through the SendEvent signature.

[2021-05-31 15:51] melanchall commented on #106
I've done some tests on Windows, Ubuntu and macOS (virtual machines) to see how `System.Timers.Timer` keeps specified interval.

Test program:

[code]

Results are:

**Windows**

|Interval (ms)|Min (ms)|Max (ms)|Average (ms)|
|---|---|---|---|
|1|4|26|15.6|
|2|2|29|15.6|
|10|1|30|15.6|
|100|77|126|99.9|

**Ubuntu**

|Interval (ms)|Min (ms)|Max (ms)|Average (ms)|
|---|---|---|---|
|1|0|10|4.0|
|2|1

[2021-06-02 14:19] melanchall commented on #122
@akira0245 solution is ready, I'll provide it tomorrow.

[2021-06-03 15:41] melanchall commented on #122
Well, the changes I've made:

* removed `sealed` modifier from `TimedEvent`, `Note` and `Chord` so you can subclass from them;
* removed `sealed` modifier from `Playback` and added `TryPlayEvent` virtual method to the class which by default sends event to a device;
* added `IMetadata` interface which is respected by `Playback` if implemented by input timed objects.

For your task you need:

1. cre

[2021-06-04 02:00] akira0245 commented on #122
@melanchall Thank you for the quick update and also for writing such detailed instructions, it solved my problem perfectly. I really appreciate dryWetMidi and your work, thank you again!

[2021-06-04 02:40] #122 closed

[2021-06-10 12:33] rn1d commented on #17
@melanchall, thank you for sharing your library and answering questions.

I'm faced with a similar problem, but I think the solution you propose is not always correct. The basic idea, if I understand correctly, is to look at the last event and assume the next bar is the end. That assumption fails if there is more than one bar of silence after the last event. It makes a difference if you want to lo

[2021-06-10 12:56] melanchall commented on #17
@rn1d Thanks for pointing out the problem!

Hmm, I'll think how to handle the situation you've mentioned. I'm on vacation right now. I'll come back to the issue a couple of days later.

[2021-06-10 13:01] rn1d commented on #17
This is a corner case, to be sure, and I am not expecting anything, I just wanted to chime in.
Enjoy your vacation! 🌴

[2021-06-10 16:54] melanchall commented on #17
@rn1d I think now that this was a wrong decision to hide EOT event. This violates the principle of the library according to which it should be possible to get raw MIDI data as it present in a file without any transformations.

I suppose I'll expose the event. Thanks for your comment!

[2021-06-12 21:17] melanchall commented on #17
I've added `EndOfTrackStoringPolicy` property to the `ReadingSettings` class. So I've decided to leave default behavior as is, **BUT** give ability to change it:

[code]

With this code `EndOfTrackEvent` will be present in track chunks of the `midiFile` (if the event is present in an input file of course).

Changes are in _develop_ branch. @rn1d I can build prerelease NuGet package, if you need it

[2021-06-13 15:20] #17 closed

[2021-06-13 20:55] rn1d commented on #17
Fantastic, thank you! If it's not too much trouble to build that pre release package, I would use it. If it's too much hassle - no worries, I'll wait for the next release.

[2021-06-14 10:41] melanchall commented on #17
@rn1d Version [5.2.1-prerelease8](https://www.nuget.org/packages/Melanchall.DryWetMidi/5.2.1-prerelease8) is published, you can install it via NuGet. Thank you!

[2021-06-16 06:32] wolfy01 opened #129 "midiFile.GetPlayback"
When loading in huge midi's, it works. But when you call `midiFile.GetPlayback(outputDevice);` everything freezes for awhile, sometimes this can be a _long_ time

[2021-06-16 07:40] melanchall commented on #129
`Playback` creation requires pretty much work to provide all the features like using event/note callback, data tracking, metadata routing and so on. I have an idea to provide options to turn off some features on playback instantiating if user don't need them. But that's just an idea right now.

Can you please give me a MIDI file you have troubles with? So I'll analyze what's going on and give you

[2021-06-16 14:25] wolfy01 commented on #129
The files that cause it to freeze for a bit are called "Black Midi's". Most are usually a few MB in size and those it doesn't have much problems with, but as soon as you get into the 100MB range or above, it's way more noticeable. Black Midi's have anywhere from 1k, 100k, to 1m+ notes. So I'm assuming that the reason its freezing is because there is so many events it has to handle. I can still pro

[2021-06-16 15:35] melanchall commented on #129
Yes, of course.

Yes, please. Maybe I can do creation of `Playback` a bit faster.

[2021-06-16 17:01] wolfy01 commented on #129
Here's the midi:

[The Black Bomb U12.zip](https://github.com/melanchall/drywetmidi/files/6664640/The.Black.Bomb.U12.zip)

129 MB When extracted.

[2021-06-16 17:12] melanchall commented on #129
Thanks!

I'll profile playback creation and let you know what I've found.

[2021-06-16 19:31] wolfy01 commented on #129
Okay, thanks!

[2021-06-16 20:15] melanchall commented on #129
@wolfy01 Can you please give a smaller file, maybe 10MB or something like that? It seems it's too long to create playback from the provided file on my system :(

[2021-06-16 20:21] wolfy01 commented on #129
Sure! Here's the same MIDI, but with a lot less notes and a smaller file size.

[The Black Bomb U12 [A little Deblacked].zip](https://github.com/melanchall/drywetmidi/files/6665630/The.Black.Bomb.U12.A.little.Deblacked.zip)
8.14 MB

[2021-06-16 22:51] wolfy01 opened #130 "player.Finished"
For some reason:
[code]
Isn't working for me. playerFinished code:
[code]

[2021-06-16 23:11] melanchall commented on #130
Please provide full code how you create and start a playback.

[2021-06-16 23:22] wolfy01 commented on #130
[code]

[2021-06-16 23:28] wolfy01 commented on #130
Is the issue caused by starting it in a new thread?

[2021-06-17 07:01] melanchall commented on #130
No, the issue caused by attaching event handler after `Play` method called. From [the docs on `Play`](https://melanchall.github.io/drywetmidi/api/Melanchall.DryWetMidi.Devices.Playback.html#Melanchall_DryWetMidi_Devices_Playback_Play):

So that's what happening:

1. you call `Play`
2. execution of the `playerThread` is paused
3. when all MIDI data played, execution goes forward
4. you attach event

[2021-06-17 08:34] wolfy01 commented on #130
Thanks

[2021-06-17 08:34] #130 closed

[2021-06-17 13:18] melanchall commented on #129
Thanks for the file!

Problem was with a lot of tempo changes within the file. So conversion of events times to microseconds was really long. I've made some changes and now that conversion is much faster. And thus playback creation much much faster too.

I've published [5.2.1-prerelease9](https://www.nuget.org/packages/Melanchall.DryWetMidi/5.2.1-prerelease9) version of the library, please install

[2021-06-17 16:36] wolfy01 commented on #129
Major improvement. Nice!

[2021-06-17 17:06] melanchall commented on #129
Thankyou for the issue! Can it be closed?

[2021-06-17 17:35] wolfy01 commented on #129
It still takes awhile from more testing, but it is faster.

Are you planning on doing that somewhere in the future? It would probably help a lot with this too.

[2021-06-17 17:52] melanchall commented on #129
Yes, I'll come back to the subject in the future, but right now I see that playback creation is many times faster than before you opened this issue :)

If you about `MidiFile.Read`, then I think I can't do better right now because reading a MIDI file is already optimized in many ways. But even your 129 MB file takes just several seconds to parse it into `MidiFile` on my machine, so I think it's ve

[2021-06-17 17:55] wolfy01 commented on #129
Yeah, also I ended up using a `Thread` to do it, which did actually make it a bit faster. Also, thank you for this amazing project 👍

[2021-06-17 17:55] #129 closed

[2021-06-20 15:22] melanchall commented on #129
:rocket: **5.2.1 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2021-06-20 15:23] melanchall commented on #122
:rocket: **5.2.1 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2021-06-20 15:23] melanchall commented on #121
:rocket: **5.2.1 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2021-06-20 15:23] melanchall commented on #118
:rocket: **5.2.1 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2021-06-20 15:23] melanchall commented on #17
:rocket: **5.2.1 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2021-06-20 17:40] jskeet commented on #121
Excellent, will do - thanks again!

[2021-06-23 15:28] unitybru commented on #42
+1 for the ability to stitch MIDI files more easily.

For those who find this thread, here is how I did it. I had a list of MIDI files that I needed to append one after the other. The trick is to shift things before adding the chunks.

[code]

[2021-06-23 19:08] juancabrera opened #131 "GetTempoMap() won't recognize first tempo change if it's 120 bpm"
If a midi file has a tempo map, and the first tempo registered is 120bpm `GetTempoMap()` will just skip it. If you change the first tempo to anything but 120bpm it will recognize it.

Attached is a midi that you can reproduce the issue.

[test-tempomap-start-120bpm.mid.zip](https://github.com/melanchall/drywetmidi/files/6704313/test-tempomap-start-120bpm.mid.zip)

[2021-06-23 21:44] melanchall commented on #131
Hi,

First of all, let me explain what tempo map is. For example, we have following track chunk with events:

[code]

where `A`, `B` and so on are _Set Tempo_ events with corresponding BPM (written above the letters). For this sequence of MIDI events tempo map will be:

[code]

where `+` means tempo change point.

So as you can see tempo map doesn't reflect original MIDI events. Tempo map holds **

[2021-06-23 21:50] melanchall commented on #42
@unitybru Thanks for the code snippet!

Please note that this code will work only for files with the same time division and tempo. I still have plans on MIDI files merger tool, but currently I'm busy with a big task about supporting macOS in Devices API of the library.

Merging MIDI files requires more work in general case than it can be supposed :)

[2021-06-24 20:10] melanchall commented on #131
@juancabrera Do you have any questions or the issue can be closed?

[2021-06-25 12:59] juancabrera commented on #131
@melanchall it does makes sense and thank you so much for the detailed explanation!

[2021-06-25 12:59] #131 closed

[2021-07-29 09:13] melanchall commented on #117
Well, virtual devices will be supported in the next release for macOS. For Windows it still need to have kernel-mode driver to have virtual devices. Maybe I'll provide support via 3d party product.

[2021-08-02 02:12] dan-oak commented on #29
For people like me, who just landed here after finding out about the problem, could you guys maybe suggest how to hack around the missing support problem? Maybe by adding specific dlls to project assemblies or anything else. I'm developing a Linux version of a game and the code is already failing on `OutputDevice.GetAll()` by trying to call `winmm.dll`. I'm not familiar currently with a way to pac

[2021-08-02 10:33] melanchall commented on #29
@dan-oak Unfortunately Devices API of the library doesn't support Linux. Right now I'm in process of macOS support, but I can't provide any date when DryWetMIDI will support Linux.

[2021-08-18 10:03] melanchall commented on #117
I've implemented virtual devices creation on macOS and it will be available in the next release.

As for Windows, I've decided to not provide support via 3d party products because of licensing problems which can occur either for me or users of the library. So on Windows you need to deal with virtual devices by yourself. I recommend to try [virtualMIDI SDK](https://www.tobias-erichsen.de/software/v

[2021-08-18 10:03] #117 closed

[2021-08-19 11:48] jkone27 opened #132 "Support MacOs/Unix devices via NET5 ?"
would be nice if the library also supported devices on MacOs/unix/linux via .net5

[2021-08-19 16:09] melanchall commented on #132
Hi,

Right now I'm working on macOS support for Devices API. The support will be in the next release.

As for *nix I can't give any dates when it will be supported.

Please note that .NET5 don't automatically bring devices support on macOS/*nix. It is still platform-specific and need to be implemented manually for each operating system.

[2021-08-24 20:28] Maddy1107 opened #133 "Play the notes in a 3D keyboard"
Hello,

I am working on a project where I have a 3D keyboard in Unity.

I have extracted the notes, octaves and time. Now I want to play that notes on the keyboard automatically.

Any Idea how to do the with the perfect timing that is extracted?

This might be a silly question to ask but I have no idea how to do it.

I can use the notes to play on the keyboard but how to use the time.

Thank you.

[2021-08-25 12:58] melanchall commented on #133
Hi,

Can you please provide more details about what you want to do? Right now it's not clear. Do you want to start playback of collection of notes?

[2021-09-05 08:15] UlyssesWu commented on #117
Although the virtualMIDI SDK works, the license is a big problem for developers. Still waiting for an open-source or literally-free replacement for that.

[2021-09-05 17:51] melanchall commented on #133
I'm going to close the issue if no details will be provided.

[2021-09-09 09:22] melanchall commented on #133
I'm closing the issue. Please reopen it if you have info I've asked for.

[2021-09-09 09:22] #133 closed

[2021-09-18 20:54] brndd opened #134 "Feature request: BytesToMidiEventConverter method to convert bytes that contain multiple MIDI events into list of MIDI events"
My use case is sending MIDI events over the network in packets that contain a list of multiple events. When it comes to minimizing bandwidth requirements, I think it is difficult to do better than the MIDI spec, so I looked at `BytesToMidiEventConverter` (and `MidiEventToBytesConverter`) for my needs.

However it seems `BytesToMidiEventConverter` expects the byte array to only contain one MIDI eve

[2021-09-20 08:31] melanchall commented on #134
Hi,

Yes, good suggestion. Right now the easiest way to provide what you need is to return count of bytes read from the passed bytes array. So you can then just call `Convert` again starting from the specified index within the array. Does that sound good?

Thanks.

[2021-09-20 16:06] brndd commented on #134
That sounds like it would work, yes, though I'd imagine it would be quite simple to implement a convenience method for that at the library level too, if the number of bytes is returned. The convenience method would basically just call `Convert` until the byte stream can no longer be read from. But I expect you will know better whether it is simple or not :smile:

Since these classes are probably e

[2021-09-21 11:24] melanchall commented on #134
Can you please clarify: your bytes array contains multiple MIDI events **without** delta-times, yes? Each event starts with its status byte?

[2021-09-21 14:28] brndd commented on #134
Oh, that is a good question -- I did not actually get to implementing this yet, so that is a problem that I had not considered.

They would have to be **with** delta-times, so that they can be sent to a MIDI sequencer at the receiving end, but I believe `MidiEventToBytesConverter` may not actually include delta-times in the bytes it writes?

Should I be looking somewhere else for a solution? What

[2021-09-21 15:14] melanchall commented on #134
So you start playback and then for each played event you send it to a client? If so, I don't see multiple MIDI events in one packet here.

In this case I thinkyou shouldn't use `BytesToMidiEventConverter`. Its purpose is simple conversion of bytes to MIDI event. If you want to have delta-times, I think it's better to write track chunk to bytes and then parsing it on client. I'll show you how it ca

[2021-09-21 15:45] brndd commented on #134
I batch them together by using a custom playback class that gets ticked every time the server's main loop ticks (it's a game server, so every ~32 milliseconds). The custom playback class basically just writes the events into a buffer when they're played, and then every server update tick I pop that buffer, do some server-side stuff with the MIDI events, and send the contents of the buffer to clien

[2021-09-21 15:54] melanchall commented on #134
Well, I'll think about how to handle delta-times within bytes array used by converters.

[2021-09-22 10:59] melanchall commented on #134
Next version will support macOS. Can you please say what operating systems you should support?

Starting from the next version DWM will rely on native code too (written by me for DWM, not 3rd party) in order to bring Devices API support for macOS and potentially for other systems. Can you share with me what problems did you encounter with native libs?

[2021-09-22 12:29] brndd commented on #134
We currently target Windows, MacOS and Linux.

Primarily it is a concern of keeping our code as portable as possible. Native code might fail to build on eg. ARM. Anyway, the difference is that Fluidsynth is a completely native library and we just use C# bindings for it, whereas DWM is, even with native device libraries, fully C# for at least the core functionality. This is a big advantage over Flu

[2021-09-23 01:57] david-a-angel commented on #132
Hi melanchall,
Any idea when this release is expected to come out? I am also looking forward to having Devices API on my macOS.
Thank you!

[2021-09-23 08:36] melanchall commented on #134
Well, I've implemented writing/reading delta-times by the converters. I can build prerelease NuGet package if you want. Or give you all the required dlls (and dylib for macOS) so you can test new API. What way is more convenient for you?

[2021-09-23 08:38] melanchall commented on #132
Hi @david-a-angel,

I think I'll release the new version in the middle of October. But the new API is already implemented, so I can build prerelease NuGet package for you. Would it be useful for you?

[2021-09-23 20:42] brndd commented on #134
Thanks! That was fast.

A pre-release package would probably be more convenient -- I must confess I'm not terribly experienced with whatever using DLLs outside of NuGet would entail :-).

[2021-09-24 05:46] david-a-angel commented on #132
Absolutely! And also send me a link where I can buy you a coffee or beer...or Both!!

[2021-09-24 12:38] melanchall commented on #134
Version [6.0.0-prerelease3](https://www.nuget.org/packages/Melanchall.DryWetMidi/6.0.0-prerelease3) is published. Converters have now `WriteDeltaTime`/`ReadDeltaTimes` properties. You need to set them to `true` to write delta-times to and read them from bytes array.

[2021-09-24 12:42] melanchall commented on #132
Version [6.0.0-prerelease3](https://www.nuget.org/packages/Melanchall.DryWetMidi/6.0.0-prerelease3) is published. For macOS additional features available like `VirtualDevice` and `DevicesWatcher`.

You can click on **Support** button and choose a way to support me if you want :-)

[2021-09-25 18:58] david-a-angel commented on #132
Still Throwing a System.DllNotFoundException
Below is the simple application that is throwing Exception.

namespace DryWetMidiDebug
{
    class MainClass
    {
        public static void Main(string[] args)
        {
            var devices = InputDevice.GetAll().ToList();

            Console.WriteLine("Hello World!");
        }
    }
}

Below is the Trace.

System.DllNotFoundException: Melanchal

[2021-09-26 12:45] melanchall commented on #132
@david-a-angel Thanks for the log.

All my unit tests are passed on macOS, so obviously our environments are different. All my tests are done with `dotnet` commands (like `dotnet run`, `dotnet build`, etc), but in your log I see mentions of **mono**, so I suppose you use Mono for cross-platform .NET developement. From the [documentation on DllImport for macOS](https://www.mono-project.com/docs/adv

[2021-09-27 07:12] david-a-angel commented on #132
It is a basic console application on Visual Studio Mac.
Files Inside bin directory are below separated by ' | '.
DryWetMidiDebug.exe  |   DryWetMidiDebug.pdb  |  Melanchall_DryWetMidi_Native32.dll  |  Melanchall_DryWetMidi_Native64.dll  |  Melanchall_DryWetMidi_Native64.dylib  |  Melanchall.DryWetMidi.dll  |  Melanchall.DryWetMidi.xml

Part of the Library is working. For instance,
var file = MidiF

[2021-09-27 09:11] melanchall commented on #132
@david-a-angel Thanks for the info. At least, binaries are in place. To investigate further I need following info:

1. Can you please send me entire folder with your solution?
2. What version of your macOS?
2. What versoin of the VS for Mac you use?
3. What version of .NET installed on your machine? (run `dotnet --version` in Terminal)
4. What if you run your app via `dotnet run --project path/to/

[2021-09-28 17:51] david-a-angel commented on #132
For
1. [DryWetMidiDebug.zip](https://github.com/melanchall/drywetmidi/files/7246343/DryWetMidiDebug.zip)
2. My macOS version: macOS Big Sur version 11.4
3. My VS is: Visual Studio for Mac Community Version 8.10.8
4. .Net version: 5.0.4
5.  The Project has nothing to run. It only is checking if the InputDevice.GetAll() is returning with anything.

[2021-09-28 19:12] melanchall commented on #132
Thanks for the info.

2. I've checked on 10.14 Mojave with the latest VS for Mac and all the Devices API works. I'll check your solution with Big Sur and let you know.
5. Just print all devices with `Console.WriteLine` and run the project with the command I've provided.

[2021-09-28 21:57] david-a-angel commented on #132
Here is the results for the dotnet run in Terminal.

The build failed. Fix the build errors and run again.
Davids-MacBook-Pro:~ davidangel$ dotnet run --project /Development/DryWetMidiDebug/DryWetMidiDebug/DryWetMidiDebug.csproj -c Release
MSBUILD : error MSB1001: Unknown switch.
Switch: /Development/DryWetMidiDebug/DryWetMidiDebug/DryWetMidiDebug.csproj

[2021-09-29 09:44] melanchall commented on #132
Thanks for the archive. Now I see what's going on. You've created solution of the wrong type. It looks like you've created solution on Windows targeting .NET Framework and then want to run it on macOS. Thta's wrong. .NET Framework doesn't work on systems other than Windows.

Just create solution from scratch on macOS in Visual Studio for Mac. Or you can create it on Windows, BUT you need to target

[2021-09-30 17:47] david-a-angel commented on #132
Interesting. Whenever I create a console app on Visual Studio for Mac it automatically creates a .Net Framework project and there is no way to specify otherwise. I had to go to my PC and create a .NET Core console app then send it to my mac. Now it appears to be working. I haven't done much with the input / output devices yet but the call to GetAll() is not throwing an exception anymore.
Thanks fo

[2021-10-01 20:33] melanchall commented on #31
Miracle happened, the bug is fixed now! Message from Unity tech support:

So I'm finally closing the issue. (more than 2 years, heh)

[2021-10-01 20:33] #31 closed

[2021-10-02 01:41] wyskoj commented on #31
Awesome!!

[2021-10-08 22:27] brmenchl opened #135 "It isnt clear that TimeConverter.ConvertFrom returns tick offset from the beginning of the file."
While creating unit tests for my application, I wanted to create a stub MidiFile class and add a Note to a TrackChunk at an arbitrary Microsecond timestamp and and arbitrary Microsecond length. I tried using

`TimeConverter.ConvertFrom(new MetricTimeSpan(stubNoteDuration), tempoMap);`

However, if the passed in tempoMap has tempoChanges, the return value is off from what is expected. After digging

[2021-10-18 07:40] CIRCE-EYES opened #139 "Roll-midi-notes-using-a-Datagridview-object-Vstudio"
https://github.com/CIRCE-EYES/Roll-midi-notes-using-a-Datagridview-object-Vstudio

Another tiny app so you can use into DrywetMidi library !!!

![Screen1](https://user-images.githubusercontent.com/69172266/137688519-a148d9ad-7c6a-452a-82d0-5016435c0b72.jpg)

Thanks Maxim for your GREAT library !!

[2021-10-22 20:36] #139 closed, assigned to nobody

[2021-10-25 12:05] BoxOfClicks opened #140 "DllNotFoundException: Melanchall_DryWetMidi_Native64 in Unity"
Apologies if I'm missing something basic but after importing DWM into a Unity project I'm receiving the following error.
I wonder if it's something to do with the recent changes to e.g. CommonApi?
Any thoughts or ideas I could test are much appreciated.

[2021-11-01 15:23] melanchall commented on #140
I've added [Using in Unity](https://melanchall.github.io/drywetmidi/articles/dev/Using-in-Unity.html) article which shows example of simple script with devices. Please see how they should be obtained and disposed. I've tested the script within Unity and all works fine.

@BoxOfClicks I'm closing the issue since there is no info from you. Feel free to reopen if you can provide sample project which c

[2021-11-01 15:24] #140 closed

[2021-11-02 10:36] melanchall commented on #29
DryWetMIDI 6.0.0 has been released which has changed internal structure. So now the library includes 4 binaries: 1 main dll and 3 native binaries for cross-platform Devices API. So it seems it's not good to split the library even further.

[2021-11-02 10:36] #29 closed

[2021-11-10 16:56] melanchall commented on #106
@operatortwo I've done a quick test and unfortunately I see 15.6 ms min interval, even if I set 1 ms. It's standard timer resolution for Windows and there is a bug on Windows 10 which makes impossible to use lower intervals with any methods except old `timeSetEvent`.

Unfortunately it seems `timeSetEvent` is the only reliable way to get 1 ms timer.

[2021-11-15 21:18] operatortwo commented on #106
I agree that `timeSetEvent` is the only reliable way to get 1 ms timer.

Just made a few tests to find out why I got good measurement results (down to 1 ms) with `CreateTimerQueueTimer` .
It seems that the Midi-Driver had an effetct to the timer. When the Midi-Port was open, then the measured intervals were around 1 ms, after closing the port, the intervals were back to 15.6 ms.
Same results with

[2021-11-16 18:22] melanchall commented on #106
@operatortwo What is MIDI-Driver and Midi-Port? Do you mean plugging hardware devices allows set timer interval down to 1 ms?

[2021-11-17 21:07] operatortwo commented on #106
A Midi-Driver is sometimes provided by the manufacturer of a Midi-Hardware for the use of device-specific applications or "to ensure optimal performance".  This drivers are normally downloaded an installed by the user. For example:
Yamaha USB-MIDI Driver V3.1.4 for Win 10/8.1/8/7 (64-bit)
M-Audio MIDISPORT Windows Driver v6.1.3 (for MIDISPORT 4x4 and MIDISPORT 4x4 Anniversary Edition)

No. It seem

[2021-11-18 08:52] melanchall commented on #106
Yes, I know what a device driver is. I thought you mean some special devices and software.

Hmm, very interesting. Mayby driver does some OS level manipulations internally. Thanks for the info!

[2021-12-29 23:05] schuster-rainer commented on #140
I'm using it in Visual Scripting in a custom unit. and get the same exception, albeit I'm not using any output device. Is this intended?

[code]

[2021-12-30 10:47] melanchall commented on #140
Hi @schuster-rainer,

Yes, because you use `Playback` class. By default it uses `HighPrecisionTickGenerator` (you can read more [here](https://melanchall.github.io/drywetmidi/articles/playback/Tick-generator.html)). It's a timer that can fire at interval of 1 ms. Such high-precision timer is platform-dependent and thus it is implemented via native layer provided by _Melanchall_DryWetMidi_Native64.

[2022-01-08 08:49] toby11 opened #142 "PInvokeStackImbalance exception on native calls in 32-bit app"
In in a windows .net forms app on calling

var allDevices = InputDevice.GetAll()

I get this exception?
`
Managed Debugging Assistant 'PInvokeStackImbalance' : 'A call to PInvoke function 'Melanchall.DryWetMidi!Melanchall.DryWetMidi.Multimedia.MidiDevicesSessionApi32::OpenSession_Win' has unbalanced the stack. This is likely because the managed PInvoke signature does not match the unmanaged target

[2022-01-08 09:36] toby11 commented on #142
Windows 10 and .net 4.7.2 - vs2021

[2022-01-08 15:00] melanchall commented on #142
Thanks for the issue. Can you please say is your Windows 32 or 64 bit?

[2022-01-08 15:24] toby11 commented on #142
@melanchall thanks for the quick reply its 64bit

Processor	Intel(R) Core(TM) i7-5820K CPU @ 3.30GHz   3.30 GHz
Installed RAM	32.0 GB
System type	64-bit operating system, x64-based processor
Pen and touch	Pen and touch support with 10 touch points

Edition	Windows 10 Enterprise
Version	21H1
Installed on	‎22/‎10/‎2020
OS build	19043.1415
Experience	Windows Feature Experience Pack 120.2212.3920.0

[2022-01-08 15:25] toby11 commented on #142
in fact just change my project to compile in x64 and it now works with no errors

however on using InputDevice.GetAll()

I get "Enumeration yielded no results" whereas I have multiple midi input devices.

[2022-01-08 15:34] toby11 commented on #142
Actually I was connected to my dev machine via rdp so think that's why it was returning no input devices.

So the issue was resolved by just compiling as x64 in visual studio. Thanks

[2022-01-09 19:36] X1nto opened #143 "Note.Time property returns tick instead of time"
[code]
Beat.cs:
[code]
`Millis = note.Time` is set to the tick of note, instead of the millisecond, it plays on.
I also tried with `Millis = note.TimeAs<MetricTimeSpan>(tempoMap).Milliseconds` but still no luck there.

Library version: 6.0.1, installed with NuGet, net framework 4.7.2

[2022-01-10 08:12] melanchall commented on #143
First of all, it's absolutely correct that `Note.Time` returns ticks. [Documentation](https://melanchall.github.io/drywetmidi/api/Melanchall.DryWetMidi.Interaction.Note.html#Melanchall_DryWetMidi_Interaction_Note_Time) says about t:

_units defined by the time division of a MIDI file_ = _ticks_

So yes, you need to use [`MetricTimeSpan`](https://melanchall.github.io/drywetmidi/api/Melanchall.DryWe

[2022-01-10 10:13] X1nto commented on #143
I see, my bad. Thanks for responding!

Tested your solution, works fine, but I think it would be great to add a property called TotalMilliseconds which essentially returns the same. I'll try and PR the feature.

[2022-01-10 10:13] #143 closed

[2022-01-10 10:46] melanchall commented on #142
I'm reopening the issue. I'm able to reproduce the error in a fresh WinForms app running in 32-bit process. The library is supposed to work in 32-bit Windows apps too, so I'll try to fix the issue.

[2022-01-10 16:10] melanchall commented on #142
The problem is solved now. You can install prerelease version of the library NuGet package – [6.1.0-prerelease1](https://www.nuget.org/packages/Melanchall.DryWetMidi/6.1.0-prerelease1).

[2022-01-10 16:10] #142 closed

[2022-01-22 03:49] josago97 opened #158 "Hide unmanaged dlls"
Hello,

I would like to know if there is any way to hide the dlls of the library so that they do not appear in the root folder of the project in the  solution explorer.

Thanks.

![image](https://user-images.githubusercontent.com/26380095/150623583-65b28c2a-76de-4799-b6d0-143f87779566.png)

[2022-01-22 18:45] melanchall commented on #158
Hello,

Are these files are present in your project's folder physically? Or they just appeared in VS Solution Explorer and makes noise there?

These files shouldn't be a part of a project. They are only for copying into the project's bin folder. I suppose that is how VS works and nothing we can do with it. But you can search information on the web on the issue.

[2022-01-22 18:52] josago97 commented on #158
The files are not physically present in the project, they simply appear in the solution explorer. Also, they are not even present in the project file.

![image](https://user-images.githubusercontent.com/26380095/150651666-d7f20d51-33c2-4c99-a081-91a3667bbd1e.png)

[2022-01-23 08:21] melanchall commented on #158
Well, in this case I think it's how VS works. I'm not sure I can do something from my side. I'll look closely on the issue tomorrow.

[2022-01-24 01:14] josago97 commented on #158
Well thank you very much. In case it's any help, the dlls appear when I build the project. I use Visual Studio Community 2022 17.0.5.

[2022-01-24 11:56] melanchall commented on #158
Finally I've found it's my fault. I've fixed the issue. Fix will be availabale in the next release of the library. But you can install [6.1.0-prerelease2](https://www.nuget.org/packages/Melanchall.DryWetMidi/6.1.0-prerelease2) version of the library via NuGet right now to get rid of the files.

Thank you for the issue! I've learned something new :) Please let me know if the problem gone or not.

[2022-01-25 03:34] josago97 commented on #158
The dlls are no longer visible and everything works, thank you very much.

[2022-01-25 03:34] #158 closed

[2022-01-26 13:25] toby11 opened #160 "There is no memory in the system to complete the operation (IN_OPENRESULT_NOMEMORY)"
Sometimes on InputDevice when calling StartEventsListening

I get this exception

`Melanchall.DryWetMidi.Multimedia.MidiDeviceException: There is no memory in the system to complete the operation (IN_OPENRESULT_NOMEMORY).
   at Melanchall.DryWetMidi.Multimedia.NativeApi.HandleResult[TResult,TException](TResult result, Func`3 createException)
   at Melanchall.DryWetMidi.Multimedia.NativeApiUtilitie

[2022-01-26 15:11] melanchall commented on #160
Hi,

Please show your code how you work with `InputDevice`. Are you sure you dispose it when you are done with it?

This error is internal one of Windows MIDI subsystem. DryWetMIDI just redirects it from operating system to you. My assumption is you're not correctly closing a device and thus you have attempt to open a device which was already open and is not properly closed.

[2022-01-26 15:17] toby11 commented on #160
thanks yes I have found that there was a crashed instance on my application running which must have locked the midi device - thanks anyway.

[2022-01-26 15:17] #160 closed

[2022-02-20 00:19] wbaldoumas opened #163 "Is it Possible to Have Different Instruments Playing Simultaneously?"
I'm using `PatternBuilder` and I'd like to be able to have different instruments playing simultaneously. I've tried something like the following, but only the last instrument set by the `ProgramChange` is what ends up being used for both sets of notes. What would be the correct way of having these flute and guitar lines played simultaneously?

[code]

[2022-02-20 12:11] melanchall commented on #163
Hi,

You may think about single pattern as about single track chunk. Pattern is a sequential set of actions. So if some point of pattern you set new program, this program will be applied to all following actions. You move to start of the pattern and set new program thus overriding previous one.

You can create two patterns, convert them to track chunks using different channels and then combine the

[2022-02-20 13:40] melanchall commented on #163
I've also added layers support to my backlog. But I can't say when the feature will be implemented.

[2022-02-20 15:11] wbaldoumas commented on #163
Hey, I gave that a try and it worked great. I knew it was probably something so simple. Thank you for the in-depth response with examples! 😄

[2022-02-20 15:11] #163 closed

[2022-02-24 09:56] bib-ak opened #164 "System.DllNotFoundException: Unable to load DLL 'Melanchall_DryWetMidi_Native32'"
My Windows Form application crashes with error message System.DllNotFoundException: Unable to load DLL 'Melanchall_DryWetMidi_Native32'. This does only happen when published - if run from Visual Studio 2017 it works as expected.

Windows 10
.NET 4.6
Visual Studio 2017
Melanchall added from Nuget package (6.0.1)

[2022-02-24 13:25] melanchall commented on #164
Hi,

Can you please explain what do you mean? Also please show me content of the folder you "publish" project to?

[2022-02-24 14:45] bib-ak commented on #164
It run fine in Visual Studio hitting the "Start" button (Debug or Release). Then I go to Visual Studio "Build" -> "Publish". It generates an install file. When installing my application and run it - it breaks.
[publish.zip](https://github.com/melanchall/drywetmidi/files/8133324/publish.zip)

[2022-02-24 14:46] bib-ak commented on #164
A simple code example:
`using System;
using System.Windows.Forms;
using Melanchall.DryWetMidi.Multimedia;
using Melanchall.DryWetMidi.Core;
using Melanchall.DryWetMidi.Interaction;
using Melanchall.DryWetMidi.MusicTheory;
using Melanchall.DryWetMidi.Composing;
using Melanchall.DryWetMidi.Common;

namespace WindowsFormsApplication6
{

    public partial class Form1 : Form
    {

        public Form

[2022-02-24 14:51] melanchall commented on #164
Well, I have never build installers via Publish. Thanks for the case, let's investigate how to fix the problem.

First of all, I see _Application Files_ folder in your archive. Can you please say, will these files be installed automatically by installer so they will be placed near exe? If so, I suggest to place there all native libraries. You can find them in the _bin_ folder of your application (

[2022-02-25 18:43] melanchall commented on #164
@bib-ak Any news?

[2022-02-26 06:53] bib-ak commented on #164
If you install the attached archive you will see where the files are extracted.

I also have tested with adding a "Setup Project" (VS->File->Add) with no success. But: when adding the "Native" dll files to primary output of installed program - it works.

Maybe someone read this and save some time :) Thank you for your work, really appreciated.

[2022-03-01 10:32] melanchall commented on #164
I leave the issue open. Maybe I'll be able to fix it on my side.

[2022-03-09 12:09] toby11 opened #170 "Disconnection of Midi device - no exceptions or IsEnabled change"
If I disconnect my usb midi device and plug it back in again the InputDevice / OutputDevice no longer work without being re-created - However there does not seem to be away to tell if the connection is no longer working? I can still send events and get no exception saying its no longer connected and the IsEnabled property is still true.

How should I handle it?

[2022-03-09 15:15] melanchall commented on #170
Hi,

Unfortunately there is no nice solution here. I suppose you're on Windows. On Windows you have no way to know whether MIDI device added or removed, there are just no such notifications in this OS. What you see is how Windows MIDI API works.

The only "solution" is to create device again, yes. If you select device from kind of list, maybe it's a good decision to add "Refresh" button. Another o

[2022-03-09 15:25] toby11 commented on #170
@melanchall ok thanks for the information - I think I will do it by your suggestion of the timer in the background and checking if the midi device in question is still in the GetAll list

thanks

[2022-03-31 14:51] kristanbbc opened #171 "Melanchall_DryWetMidi_Native32.dll blocked by anti-virus"
Hi, I'm unable to use the v6 of this package as one of the dlls is blocked by Sophos:

20220331 141342	File "C:\Users\XXX\.nuget\packages\melanchall.drywetmidi\6.0.1\build\Melanchall_DryWetMidi_Native32.dll" belongs to virus/spyware 'Mal/EncPk-MK'.
https://www.sophos.com/en-us/threat-center/threat-analyses/viruses-and-spyware/Mal~EncPk-MK

[2022-04-01 04:41] melanchall commented on #171
Well, I've sent the file to Sophos:

[2022-04-01 10:41] melanchall commented on #171
@kristanbbc Also I should note that if you're on 64-bit Windows you can use the library without that file. So if Sophos blocks it, that's not a big trouble as soon as you are not using 32-bit Windows or 32-bit app.

[2022-04-04 09:45] kristanbbc commented on #171
Hi, thanks for looking at this so quickly. The version is 10.8.
This is what I get when I try to download the zip file:
![image](https://user-images.githubusercontent.com/4948842/161518355-21858fa6-b201-4b58-89d2-8af4947f944e.png)
![image](https://user-images.githubusercontent.com/4948842/161518312-f031cb76-af3c-434b-b6e5-038d182c366b.png)
When I install using nuget (in VS) then it downloads all t

[2022-04-04 10:05] melanchall commented on #171
If you want I can send you native.zip without 32-bit DLL.

[2022-04-07 06:20] melanchall commented on #171
@kristanbbc Unfortunately there are no news from Sophos. Maybe you can contact support team as a user of their product? The case number is **05102965**. I don't see a way from my side to track what's happening with the case.

[2022-04-07 22:47] valimaties opened #172 "NormalSysEx is not sent."
Hi.
I tried to send some of the SysEx I read from my keyboard back to keyboard, but nothing happens.
I used MidiView to see what is going on and no message is send to my keyboard from PC.
That is strange because the event is raised (OnEventSent), because the Debug.WriteLine() is telling me that the event was sent.
But nothing happens! What should I do to check?!

[2022-04-08 05:53] melanchall commented on #172
Hi,

1. What operating system are you on (Win/Mac)?
2. What the data of a problem sys ex event? Please provide bytes of the event as a text (not as an image).

[2022-04-08 06:19] valimaties commented on #172
The OS is Windows 11, and the SysEx I send to my keyboard is an Yamaha SysEx, which have to change the Registration Memory number in the selected registration bank.
The SysEx is 43-73-01-52-25-11-00-02-**00**-00-F7 .
This one stands for the first registration memory in a registration bank.
For the other 9, the bolded byte will change to 01, 02, 03, ...
I send these SysEx-es by converting the strin

[2022-04-08 08:26] melanchall commented on #172
Well, I've created a simple test program:

[code]

`"MIDI A"` is a virtual loopback device so if we send an event to it, we immediately receive it from the device. If we run the program, we'll see following output:

[code]

So as you can see there is nothing wrong with how DryWetMIDI sends and receives a sys ex event. We got exactly the same event as we sent. More than that, you wrote:

For Window

[2022-04-08 08:58] valimaties commented on #172
Ok, thanks for your reply, I will try to test it with other software/hardware and I'll come back with results.

[2022-04-10 17:18] valimaties commented on #172
I came back after tests.
Yes, of course, this library works as expected!
The problem is that the keyboard responds with a SysEx different than the one you must send to activate that function in the keyboard, which is strange, but this is how the things work.

So, I will close this issue, as long as it is nothing more than an undocumented SysEx issue of keyboard's manufacturer!

[2022-04-10 17:18] #172 closed

[2022-04-11 09:10] kristanbbc commented on #171
Will have a go! Thanks for your help.
My workaround using nuget is to copy the 64-bit file and rename it in place of the 32-bit

[2022-04-11 09:25] melanchall commented on #171
Thanks! Please let me know if you'll get an answer from Sophos support.

[2022-04-14 14:01] kristanbbc commented on #171
It looks like this is now sorted as I can download the zip file, and the virustotal site is now showing green for all (although my support haven't confirmed this yet).

[2022-04-27 06:39] JohnTruety opened #175 "Question: Additional Note Attributes ?"
Is there any way to extend the Note class with additional attributes (i.e. Tracknumber) ?
Thank you for your help.

[2022-04-27 07:01] melanchall commented on #175
First of all, please descrive your scenario. How do you get notes? `midiFile.GetNotes()`?

[2022-04-27 07:18] JohnTruety commented on #175
Yes

I need it in a sequencer application only for internal use.
It should not be written to a midi file.

[2022-04-27 07:30] melanchall commented on #175
Well, there is no simple way but workaround exists. First, create this class:

[code]

And now you nedd to collect notes in this way:

[code]

To get track chunk index from a note, use this:

[code]

[2022-04-27 07:40] JohnTruety commented on #175
Fantastic. Many many thanks.
And lot of thanks for your great library!!

[2022-04-27 07:53] melanchall commented on #175
Thanks for using the library :)

Also since you're not the first person who asked me to solve the same task, I'll try to implement an easier way for that. So please don't close the issue.

[2022-05-01 03:23] ahsaan64 opened #177 "EventReceived not working"
I have piano Yamaha p45, but when i run the code and play a note on the keyboard, nothing happen, the 'OnEventReceived' function not receiving anything.

[code]
Here's a screenshot when i run the code.
![image](https://user-images.githubusercontent.com/102504284/166130799-bf76ee12-5b96-43b7-a69c-481d738e0b3d.png)

[2022-05-01 07:06] melanchall commented on #177
Of course `OnEventReceived` won't be triggered with this code. Just take a look at this part:

[code]

I hope you know what `using` means. It means that when the program leaves this block, an object in the variable withing `using` block will be destroyed by garbage collector. So what happens is:

1. you create variable `activeMidiDevice` in `using`;
2. you set some memebers of `activeMidiDevice`;

[2022-05-01 07:19] ahsaan64 commented on #177
I see. i've never using `using` statement before, my thought it just a replacer for `try` code. Code works now. Thank you.

[2022-05-01 07:20] #177 closed

[2022-05-14 21:46] ktp73 opened #180 "NotEnoughBytesException"
I'm getting the error Melanchall.DryWetMidi.Core.NotEnoughBytesException: 'MIDI file cannot be read since the reader's underlying stream doesn't have enough bytes.' when trying to load a file from disk (please see attached zipped file - [rowan tree live midi sample.zip](https://github.com/melanchall/drywetmidi/files/8693944/rowan.tree.live.midi.sample.zip).

In there something about this file that

[2022-05-15 05:13] melanchall commented on #180
Hi,

Well, that's what we see:

![image](https://user-images.githubusercontent.com/26361185/168458098-5b557c27-528d-4d74-a6c6-3630ba02ae9c.png)

So your file contains unknown chunk and it declares its size bigger than count of remaining bytes in the file. In fact, it's corruption of MIDI spec. And DryWetMIDI **by default** highlights this corruption. But it's a kind of "soft corruption" that can b

[2022-05-15 10:50] ktp73 commented on #180
Great - thanks for the detailed explanation (I believe the file was created by Ableton - interesting if they are generating corrupted files).

[2022-05-15 10:50] #180 closed

[2022-05-16 11:26] melanchall commented on #158
:rocket: **6.1.0 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2022-05-16 11:27] melanchall commented on #142
:rocket: **6.1.0 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2022-05-16 11:32] melanchall commented on #175
:rocket: **6.1.0 version is released now!**

Now the second code snippet can be simplified to this:

[code]

Thanks for using the library!

[2022-05-16 11:32] #175 closed

[2022-05-18 11:30] JohnTruety commented on #175
Great J

Thanks for your help!

Von: Maxim Dobroselsky ***@***.***
Gesendet: Montag, 16. Mai 2022 13:33
An: melanchall/drywetmidi ***@***.***>
Cc: JohnTruety ***@***.***>; Author ***@***.***>
Betreff: Re: [melanchall/drywetmidi] Question: Additional Note Attributes ? (Issue #175)

🚀 6.1.0 version is released now!

Now the second code snippet can be simplified to this:

var notes = midiFile

    .G

[2022-05-20 22:17] daltzctr opened #181 "Read Midi via Stream"
In certain environments such as UWP for Windows, the traditional read and write functions are *privileged* actions only accessible through a special FilePicker API. It would be nice if I could pass forward a Stream to Midi.Read().

[2022-05-20 22:18] #181 closed

[2022-05-25 17:59] melanchall commented on #3
:rocket: Official [DryWetMIDI asset][1] has been released in Unity Asset Store so now you can use standard Unity ways to integrate the library. More info in the [Using in Unity][2] article.

  [1]: https://assetstore.unity.com/packages/tools/audio/drywetmidi-222171
  [2]: https://melanchall.github.io/drywetmidi/articles/dev/Using-in-Unity.html

[2022-05-27 08:09] CIRCE-EYES opened #188 "Is it possible to play half mark from midi file ?"
In this tiny example attached it plays a mark called "Csus", and it plays in loop mode perfect.

But I need to know how to play just the half of the mark, I mean, if the mark plays 8 beats, Id like to play just the first 4 beats only, In loop mode too !!

Thanks a lot !!!!
![Play_Half_Mark](https://user-images.githubusercontent.com/69172266/170658917-658b7301-dc84-4ac5-9ad0-dffa42937917.png)

[2022-05-27 08:14] melanchall commented on #188
Hmm, but I've replied you by email. Here the quote from my letter to you:

[2022-05-27 08:14] CIRCE-EYES commented on #188
[How_play_half_Mark.zip](https://github.com/melanchall/drywetmidi/files/8785067/How_play_half_Mark.zip)
[Form1.txt](https://github.com/melanchall/drywetmidi/files/8785068/Form1.txt)

[2022-05-27 08:14] CIRCE-EYES commented on #188
Sorry, email empty !!!

[2022-05-27 08:17] melanchall commented on #188
@CIRCE-EYES I recommend you to check spam folder or something like that. Because Gmail successfully sent message to you so you should receive it.

[2022-05-27 08:19] CIRCE-EYES commented on #188
I will check mail again, anyway here is a tiny example who wants to see how find a mark and play it.

Thanks and Thanks again !!!!!

[2022-05-27 08:20] #188 closed

[2022-05-27 10:40] valimaties opened #189 "Error in Test project after last update"
Hi. I'm getting two errors from `InputDevice` and `OutputDevice` in Test project after I fetched my forked DryWetMidi, about `TestCheckpoints`. Here's a screenshot:

![DryWetMidiTestProjectError](https://user-images.githubusercontent.com/49796453/170684172-fa88c5ad-100d-49c1-9207-67fdf2e16d70.png)

[2022-05-27 10:54] melanchall commented on #189
Hi,

`TestCheckpoints` will work only in two build configurations: **DebugTest** and **ReleaseTest**. You can see this in code here: https://github.com/melanchall/drywetmidi/blob/ab918caeb7cb5cf3090f9a164f950d4f25511a7e/DryWetMidi/Multimedia/MidiDevice.cs#L89

So just use one of the build configurations I've shown above.

[2022-05-27 16:47] valimaties commented on #189
As long as I use the main project, it's ok. You know better what to do! 🙌

[2022-05-27 16:47] #189 closed

[2022-05-28 21:09] Tony-Pappas commented on #164
I'm having this same issue. I pull the code down fresh, then build solution in Debug. The build fails with

Error	CS1061	'InputDevice' does not contain a definition for 'TestCheckpoints' and no accessible extension method 'TestCheckpoints' accepting a first argument of type 'InputDevice' could be found (are you missing a using directive or an assembly reference?)	Melanchall.DryWetMidi.Tests (netco

[2022-05-28 22:03] melanchall commented on #164
@Tony-Pappas Regarding `TestCheckpoints` errors see here please: #189

As for missing DLLs, of course, because you just use the code. If you install the library via NuGet package (or Unity asset if you use the library in Unity), all required files will be installed automatically. But if you really need to use raw code, just take native binaries and put them in DryWetMidi folder. Please see at poin

[2022-05-28 22:43] Tony-Pappas commented on #164
That's just what the doctor ordered!

Your code is elegant (a superb project!) and you're always so quick to reply to issues. 👍

Thank you very much, Maxim!

[2022-06-08 13:41] valimaties opened #197 "Read custom chunks from a midi file, when chunk header contains no size information"
Hi.
I have a midi file which contains one track with some nested chunks. One of the complex chunks (these ones contains multiple simple chunks or complex chunks, in a nested structure) contains information about waveform data, and the waveform data itself. Yes, wave data in midi file structure.
The structure is like this:
[code]

using this code
[code]
I'm getting an `InvalidChunkSizeException` fo

[2022-06-08 14:45] melanchall commented on #197
Hi,

It looks like you want to read WAVE file. Why do you think it's somehow related to MIDI?

[2022-06-08 16:56] melanchall commented on #197
I think you need to combine multiple libraries to read your file. You can read entire structure with DryWetMIDI, but for reading the complex chunk (which includes WAVE marker) you can use dedicated library for audio, for example, NAudio.

[2022-06-09 05:53] valimaties commented on #197
Because:
1. The file header is MThd.
2. Second chunk is MTrk.
3. Next chunks are some nested chunks, one of them we spoke already in the past, OTSc and CASM.

The file is an Audio Style format from Yamaha. The style engine from the keyboard read those wave files and play them in loop.
I don't want to play the audio chunks, I only want to read the file and to see where the problems are, because the

[2022-06-09 12:31] melanchall commented on #197
Oh, really complex structure :) Well, maybe we can adjust reading of `AWav` chunk moving reader's position by 4 bytes on the start? If you show me your class for `AWav` chunk, I'll try to show what I mean.

It's impossible for MIDI chunkto omit its length. WAVE in fact is not a chunk, it's indeed sort of marker as it is in WAV files.

No, now I see that actually there is no valid WAV file inside,

[2022-06-09 12:57] valimaties commented on #197
`AWav` class is in the first post, already. You want me to show those simple classes too? for `WAVEChunk`, `AfmtChunk` and so on?
Those are `SimpleChunk` classes and `AInf` is a ComplexChunk, like `AWav`.

[2022-06-09 13:46] melanchall commented on #197
Well, something like this:

[code]

[2022-06-09 17:56] valimaties commented on #197
This is ok in reading process. But I think it will blowup the structure when I write back the file, doesn't it?

[2022-06-09 18:20] melanchall commented on #197
[code]

[2022-06-10 06:42] valimaties commented on #197
Thank you Maxim. Till I will make all classes which modifies my file to be able to save it, I will close this issue. In theory, it must work!

[2022-06-10 06:42] #197 closed

[2022-06-11 18:57] #164 closed

[2022-06-13 14:11] daltzctr opened #200 "Non-native release"
I am currently attempting to package this project into a UWP app. I am simply needing to read and modify midi files without any IO access. Unfortunately, when I attempt to deploy this project using the nuget in release mode, I get a crash resulting from a loop from loading and unloading the native 32 and 64 dll.

[code]

Let me know if you need any additional information or if you could present a

[2022-06-13 15:30] melanchall commented on #200
Well, what if you just remove those DLLs from the output folder?

[2022-06-13 15:58] #200 closed

[2022-07-08 14:50] daltzctr commented on #108
Just was wondering on the progress on this? I think this dependency also is incompatible with .NET Native

[2022-07-08 15:14] daltzctr commented on #108
When compiling with `.NET Native` the following warnings are present and the application crashes on startup

[code]

[2022-07-08 15:29] daltzctr commented on #108
Crash possibly related to
![image](https://user-images.githubusercontent.com/105223895/178023455-6e9dcc15-75ff-4ffa-8d2e-ab6eb524f4ef.png)

[2022-07-08 15:35] daltzctr commented on #108
I would be interested in a version of this library that does not include any hardware interfacing bits.

[2022-07-08 15:46] melanchall commented on #108
@daltzctr Nothing done on UWP support, sorry. I'll think about a new package like Melanchall.DryWetMidi.Core which won't include any native parts.

[2022-07-08 16:07] daltzctr commented on #108
That would be absolutely awesome!

[2022-07-10 20:58] jhimes144 opened #203 "Consider seperating timing logic into new project"
The high resolution timing logic contained in this library is a hidden gem. Would anyone consider separating it out into a new open source project?

[2022-07-11 16:12] melanchall commented on #203
I should notice that:

1. right now this logic implemented for Windows and macOS only;
2. implementation for Windows can be more accurate via usage of undocumented WinAPI functions `NtQueryTimerResolution`, `NtSetTimerResolution` and `NtDelayExecution`.

Can you please say why you're so excited by timing logic with DryWetMIDI? :)

[2022-07-14 08:54] vorobeyDmitriy opened #204 "DllNotFoundException on Apple Silicon chips"
Hi!
I've tried to get list of all MIDI devices on my MacBook m1 with .NET 6 but InputDevice.GetAll() throws

`Unhandled exception. System.DllNotFoundException: Unable to load shared library 'Melanchall_DryWetMidi_Native64' or one of its dependencies. In order to help diagnose loading problems, consider setting the DYLD_PRINT_LIBRARIES environment variable: dlopen(libMelanchall_DryWetMidi_Native64,

[2022-07-14 09:54] melanchall commented on #204
Hi,

Hmm, can you please show me content of the folder where your program built? Can you see Melanchall_DryWetMidi_Native64.dylib there?

Also maybe it's caused by M1 since dylib was built on virtual machine and I suppose it doesn't emulate M1 CPU. Well, right now let's start from the output folder as I stated at the start of the comment.

[2022-07-15 11:55] melanchall commented on #204
Unfortunately no :( I need to think how we can diagnose the problem.

[2022-07-15 12:08] melanchall commented on #204
Can you please say you have .NET 6 installed for x64 or for Arm64?

[2022-07-15 12:17] vorobeyDmitriy commented on #204
<img width="599" alt="image" src="https://user-images.githubusercontent.com/38509676/179221223-373e5ef6-09e1-4872-8320-6252275bc37e.png">

[2022-07-15 13:19] melanchall commented on #204
Well, do you work in Visual Studio for Mac?

[2022-07-15 22:23] dmitryvorobey commented on #204
I'm using JetBrains Rider and I've installed Melanchall.DryWetMidi from the NuGet gallery

[2022-07-16 18:03] melanchall commented on #204
Well, it's a kind of mystic for me. So I really need your help. So please let's start from simple steps.

1. Your .NET version is 6.0.301. I suggest to try to update the version. Can you please completely uninstall .NET 6 and install again from https://dotnet.microsoft.com/en-us/download/dotnet/6.0:
  ![image](https://user-images.githubusercontent.com/26361185/179366711-f8ef2311-0392-4152-82b6-15e

[2022-07-18 15:21] daltzctr commented on #108
I took a quick attempt at building with the 6.1.2 prerelease that's based on the nativeless CI build, seems to still barf on the UWP app. Still trying to get some more verbose exceptions/messages out of this.

[2022-07-18 15:29] daltzctr commented on #108
Looks like it fails on just loading the 32bit dll
![image](https://user-images.githubusercontent.com/105223895/179546997-dcf7bf43-0fca-46e9-8e3a-c947dddf111d.png)

[2022-07-18 15:40] daltzctr commented on #108
Okay, awesome news. I downloaded the "Binaries" artifact from https://dev.azure.com/Melanchall/DryWetMIDI/_build/results?buildId=23676&view=artifacts&pathAsName=false&type=publishedArtifacts and used the `netstandard2.0` build and it looks like my application is starting and working properly! This is awesome!

[2022-07-18 15:50] melanchall commented on #108
@daltzctr Heh, you're faster then me :) Yes, you can use it, but it's not officially released yet, I'm still tweaking some parts to incorporate them propertly to the project structure. Thank you for checking that the package OK!

[2022-07-19 08:53] melanchall commented on #204
@ThaddeusChristopher Thanks a lot for the info!

Yes...

Well, I need your help a little more thus. I've prepared super simple solution with simple native lib built on this code:

[code]

Here the solution: [SimpleNativeDllImport.zip](https://github.com/melanchall/drywetmidi/files/9139149/SimpleNativeDllImport.zip). Please try it and let me know if `DllNotFoundException` still occur.

If you have

[2022-07-19 17:31] melanchall commented on #204
I've just built dylib on macOS 12 VM image and it seems it has different binary content. Please check with it too: [test.zip](https://github.com/melanchall/drywetmidi/files/9143397/test.zip). Maybe miracle will happen :)

[2022-07-19 17:47] ThaddeusChristopher commented on #204
No joy from from either zip above sadly. Bummer!

The new dylib extracted from "test.zip" just posted gets the same error: System.DllNotFoundException: Unable to load shared library 'test' or one of its dependencies.

Its dylib file size is half that of the others though, that's interesting.

----

I used Xcode to build the requested dylib file. Note: The Xcode Library template comes with no files

[2022-07-20 08:11] melanchall commented on #204
@ThaddeusChristopher Many many thanks!

By the way, you can simplify your Xcode project. You don't need to use C++ there, you can create just single C file (for example, _main.c_) and write this code in it:

[code]

Can you please try to create dylib in this way so we can be sure that all works fine? Also can you please the version of your Xcode?

I really appreciate that you're spending your time

[2022-07-20 17:31] ThaddeusChristopher commented on #204
Yes, I tried the "main.c" approach in a new project and had the experience above (no c++ involved, sorry for not specifying).

Alright, I guess this must be the place to make those changes:
![Screen Shot 2022-07-20 at 12 29 09 PM](https://user-images.githubusercontent.com/5448576/180045522-d187aa3e-6377-4389-9c24-db122d531935.png)
[TestDylib2.zip](https://github.com/melanchall/drywetmidi/files/915

[2022-07-20 17:45] ThaddeusChristopher commented on #204
And here you can see where Xcode drops the dylib. Seems needlessly complicated but hey, it's Apple town...

![Screen Shot 2022-07-20 at 12 43 25 PM](https://user-images.githubusercontent.com/5448576/180048113-5d6f5886-d6bf-492a-a265-450e037dd0af.png)

[2022-07-20 17:59] melanchall commented on #204
Thanks!

Another one experiment from me, heh. Can you please check the new file: [test.zip](https://github.com/melanchall/drywetmidi/files/9152601/test.zip)?

[2022-07-20 18:07] ThaddeusChristopher commented on #204
I think that did it! Well done! This must be the "universal" dylib format?

qadept@QAs-Mac-mini ~ % /Users/qadept/Downloads/SimpleNativeDllImport/SimpleNativeDllImport/bin/Debug/net6.0/SimpleNativeDllImport ; exit;
Foo called: 123
Everything fine! Press any key to exit the program...

[2022-07-21 11:49] melanchall commented on #204
@ThaddeusChristopher Thanks again!

No, this is just arm64 version (I suppose :)).

Well, to close the subject about dylib format I've prepared three new solutions:

1. [CheckArm64Dylib.zip](https://github.com/melanchall/drywetmidi/files/9159008/CheckArm64Dylib.zip)
2. [CheckUniversalDylib.zip](https://github.com/melanchall/drywetmidi/files/9159009/CheckUniversalDylib.zip)
3. [CheckX86_64Dylib.zip

[2022-07-21 20:09] ThaddeusChristopher commented on #204
No problem!

All went as expected.

[CheckArm64Dylib.zip](https://github.com/melanchall/drywetmidi/files/9159008/CheckArm64Dylib.zip)
Builds and runs without issue

[CheckUniversalDylib.zip](https://github.com/melanchall/drywetmidi/files/9159009/CheckUniversalDylib.zip)
Builds and runs without issue

[CheckX86_64Dylib.zip](https://github.com/melanchall/drywetmidi/files/9159010/CheckX86_64Dylib.zip

[2022-07-22 13:14] melanchall commented on #204
I've switched building of macOS binaries to universal format, all my tests are run successfully. But it's for Intel-based VMs, so it's unfortunately says nothing about how it will work on Apple Silicon. I suppose runtime issues are possible.

So if you agree to run unit tests on your machine, it would be great. But I should to note that complete tests run takes noticeable amount of time. Tests are

[2022-07-22 17:49] melanchall commented on #108
@daltzctr Well, the [Melanchall.DryWetMidi.Nativeless](https://www.nuget.org/packages/Melanchall.DryWetMidi.Nativeless) package created and the version [6.1.2-prerelease2](https://www.nuget.org/packages/Melanchall.DryWetMidi.Nativeless/6.1.2-prerelease2) available on NuGet.

[2022-07-25 15:44] ThaddeusChristopher commented on #204
Sure I can let those sit uninterrupted on this station for a bit. Do you have a link to the updated solution I can download and run test for?

[2022-07-25 16:13] melanchall commented on #204
@ThaddeusChristopher Thanks for responding! I'll try to give as detailed instruction as possible.

Well, first of all we need to clone the library repo on your machine. Suppose you're in Terminal in folder **X**. Now run this command:

[code]

And then

[code]

Now you're switched to the **apple-silicon** branch. At this point we need to place the files from [Native.zip](https://github.com/melanch

[2022-07-25 16:48] ThaddeusChristopher commented on #204
Core tests failing with stack overflow. This could be because the "dotnet" terminal command seems to be preferring Visual Studio Preview over the non-preview version also installed. Hence when I ran the "build" function it built using VS for Mac Preview. At a glance I'm uncertain how to re-map the "dotnet" command to the non-preview VS, assuming that is what the issue here is.
[code]
[Sequence_348

[2022-07-25 17:13] melanchall commented on #204
Oh sorry, I gave you command for Windows. Here the correct one:

[code]

[2022-07-25 18:28] ThaddeusChristopher commented on #204
Glad it was an easy thing, ha. Looks like core tests run fine:
[code]

[2022-07-25 18:39] ThaddeusChristopher commented on #204
OK, the loopback app has this suspicious output when sudo-run (it also returns to terminal after suspending):
[code]
When I then proceed to run the Multimedia tests they all fail seemingly from being unable to find the virtual MIDI devices in question:
[code]

[2022-07-25 21:19] melanchall commented on #204
Hmm... What if we remove `&` at the end of the command?

[2022-07-25 22:00] ThaddeusChristopher commented on #204
Without ampersand "command not found":
[code]

With the ampersand it also says that, but looks different (displays a number, maybe process id? and "exit"):
[code]

And without "sudo" it states "permission denied", which does suggest it can actually see it:
[code]

Is there a particular directory I should run LoopbackDevice from maybe? Tried user folder, downloads, documents.

I double-checked if t

[2022-07-26 08:02] melanchall commented on #204
@ThaddeusChristopher Are you sure you're currently in the folder with LoopbackDevice in Terminal? `./LoopbackDevice` means _"to run LoopbackDevice placed in the current directory"_.

So can you please `cd` to the folder where you've downloaded LoopbackDevice to (or open Terminal from that folder via right-click menu) and try again (I think we don't need ampersand)?

[2022-07-26 17:54] ThaddeusChristopher commented on #204
Perhaps that app you compiled on your non-ARM64 processor can't run on this ARM64 processor? Man, Apple really shot themselves in the foot with this new architecture haha.

I feel your pain, but like I said I copied the LoopbackDevice app (extracted from the zip) to various folders and ran it with the results posted above. I can "ls" inside said folders and definitely do see the app present in its

[2022-07-26 18:53] ThaddeusChristopher commented on #204
Results:

[code]

There is a TestResults folder but its output for this run seems to be empty. I'll take it that's a good sign?

[2022-07-27 00:22] thebitbrine opened #205 "Device is already in use (IN_OPENRESULT_ALLOCATED)"
I opened the MIDI device using the following code:

[code]

Since there's no way to disconnect the device, I tried the following:
[code]

After switching to another MIDI input, now I want to connect to the first one but this is what I get:
`Device is already in use (IN_OPENRESULT_ALLOCATED)`

How can I Dispose/Disconnect the first device so I can connect to it later?

[2022-07-27 00:30] thebitbrine commented on #205
I was using `IInputDevice` instead of `InputDevice`, consuming the class directly exposes `.Dispose()` which solves the problem.

Final code:
[code]

[2022-07-27 00:30] #205 closed

[2022-07-27 00:33] Ploogle opened #206 "BUG: inputDevice StartEventListening"
The following code snippet:

[code]

Produces the following error:
[code]

100% of the time. I was originally attempting to GetName() but switched to the foreach device for debugging to ensure that it was getting a valid device from the list. Outputting the device in question shows that it is the correct one I'm trying to connect to.

This is in Unity3D v2020.3.28f1, running on Windows 11 64-bit.

[2022-07-27 08:09] melanchall commented on #204
I have a proper word for the results – **AWESOME**!  Counts of passed tests are correct:

* Core: **6317**
* Multimedia: **516**

As for LoopbackDevice built by me, I built it using universal format, merging _x86_64_ and _arm64_ architectures. But maybe it works fine for dylibs, but need a bit different steps for apps.

Absolutely agreed with you :)

Well, I'll build a prerelease NuGet package and

[2022-07-27 08:26] melanchall commented on #206
1. What's the kind of a device? Is it really input one like MIDI keyboard or so?
2. What's the name of a problem device?
3. Does the error reproduced for this device only or for all devices?
4. How DryWetMIDI installed? Via Asset Store or via placing DLLs near Unity project manually?

[2022-07-27 15:37] Ploogle commented on #206
1/2. SpringBeats Virtual MIDI https://springbeats.com/sbvmidi/

3. I dug up a MIDI hardware device and it looks like it works perfectly for the MPKMini2.
4. Installed DryWetMIDI via the Asset Store / package manager.

[2022-07-27 16:18] ThaddeusChristopher commented on #204
Thank _you_ for building such a high quality library in your spare time! And if you ever feel like adding Android/iOS support for modern Net 6 MAUI projects that'd sure be great ;-)

[2022-07-27 17:13] melanchall commented on #206
I've installed this software on my Win 10 and all works fine:

[code]

So please say the name of your device (`_inputDevice.Name`). Also try to use this device in some 3d party software (for example assign it as an input device for a software synth).

[2022-07-27 17:15] melanchall commented on #204
There is a chance that the library will work on iOS due to macOS support since both platforms has similar API. That's just a theory, I didn't tested it.

As for Android, it's much more difficult since I even don't know how to setup test environment within my CI process.

But of course I have such plans :)

[2022-07-27 18:27] #204 closed

[2022-07-27 18:59] melanchall commented on #205
@thebitbrine Hmm, maybe it's a good idea to derive `IInputDevice` from `IDisposable`. I'll think about it.

[2022-07-27 21:14] Ploogle commented on #206
I attempted another virtual MIDI cable and it looks like LoopMIDI works perfectly with DryWetMIDI. My guess is it's a bug with the SpringBeats Virtual MIDI driver in Windows 11.

Thank you for your very quick responses! I'm super happy with DryWetMIDI.

[2022-07-27 21:14] #206 closed

[2022-07-28 17:01] melanchall commented on #204
@ThaddeusChristopher @vorobeyDmitriy @dmitryvorobey The fix is available in a prerelease version of the DryWetMIDI on NuGet – [6.1.2-prerelease3](https://www.nuget.org/packages/Melanchall.DryWetMidi/6.1.2-prerelease3).

[2022-07-28 17:03] melanchall commented on #205
Well, now `IInputDevice` and `IOutputDevice` are derived from `IDisposable`. Changes are available in a prerelease version of the DryWetMIDI on NuGet – [6.1.2-prerelease3](https://www.nuget.org/packages/Melanchall.DryWetMidi/6.1.2-prerelease3).

[2022-07-29 16:26] daltzctr commented on #108
All works for me!

[2022-07-29 16:29] daltzctr commented on #204
@melanchall the nativeless version of this project works on Android and iOS great ;)

[2022-08-01 16:33] melanchall commented on #205
:rocket: **6.1.2 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2022-08-01 16:33] melanchall commented on #204
:rocket: **6.1.2 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2022-08-01 16:41] melanchall commented on #108
:rocket: **6.1.2 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2022-08-10 20:52] amritgenius opened #208 "sysEx Message data"
Sorry to bother you. this library is great but i need something to read the sysex messages sent over midi. im getting the event but can't able to read the raw message.

[2022-08-10 21:11] melanchall commented on #208
Can you please describe your problem in more detail? Do you receive MIDI events via `InputDevice`? What do you mean "raw data"? Do you need to get bytes from sys ex event?

[2022-08-10 21:17] amritgenius commented on #208
Hello Sir,
           let me explain a bit, there is a software called hauptwerk, that
software send the data over midi like 39 byte of data or 39 bit, sorry i'm
not data structure person hahah, im write a software in c# in which i want
to capture the data ( as from input device ) but i need the bytes or raw
message to deal with.

Thankyou.
Singh

On Wed, Aug 10, 2022 at 11:11 PM Maxim Dobroselsky

[2022-08-11 07:47] melanchall commented on #208
Hi Singh,

Try this code:

[code]

[2022-08-11 11:05] amritgenius commented on #208
private void OnEventReceived(object sender, MidiEventReceivedEventArgs e)
        {
            var converter = new MidiEventToBytesConverter();
            var bytes =  = converter.Convert(e);
            string result = Encoding.UTF8.GetString(bytes);
            Console.WriteLine(result);
        }

NO, MidiEvent and MidiEventReceivedEventArgs are two different things. Error says its not possib

[2022-08-11 11:12] amritgenius commented on #208
Ok,
var bytes = converter.Convert(e.Event);
 solved the problem.
Thankyou So much for the support.
Love From Italy.

[2022-08-11 11:33] #208 closed

[2022-08-15 16:28] valimaties opened #209 "Question about BytesToMidiEventConverter"
Hi.
I have an Yamaha sequencer specific SysEx, which contains a path to a file and the next bytes I supose there are some other midi events, like Control Change or some other controls, I don't know...
Example of SysEx:
[code]
The first four bytes tells me that it is an SysEx for changing **MultiPads**. After those 4 bytes I have a sequence of bytes that translate to a path of a "pad" file in keybo

[2022-08-16 09:05] melanchall commented on #209
Hi,

First of all, parsing of sys ex data is up to you. Since you don't know format of the message, the only thing I can do for you is to ask a couple of questions:

1. I see you pass `data` variable in last code snippet. Does this array contains only bytes after file path?
2. Did you try to set `ReadDeltaTimes` property to `true` on converter?

[2022-08-16 09:45] valimaties commented on #209
Hi @melanchall
1. Yes, data variable contains only byte[] without path of pad file.
2. I didn't set that property. I will try again with this property set to true and came back after that!

[2022-08-16 17:10] valimaties commented on #209
I've set the property to true, but I've encountered the same error ... Seems I have to dig more on this byte array... :(
Thanks

[2022-08-17 18:19] #209 closed

[2022-08-17 22:13] Ghostmoonk opened #211 "Read a midi file in a web browser ?"
Hello,

My issue is that I'd like to **read a midi file in a WebGL build** but it seems impossible for the MidiFile.Read function to find the correct path.
It's also tooltiped for the path parameter that it "Reads a midi file by its full path" which also seems wrong. In the editor, the path starts at project root, and in WebGL build, with "/".

I suspect that slash caracter effectively ruining the

[2022-08-18 21:07] melanchall commented on #211
Hello,

DryWetMIDI provides `Read` method overload which takes stream to read file from. Maybe WebGL has an API to get file as stream? You can then pass that stream to `MidiFile.Read`.

[2022-08-18 22:34] Ghostmoonk commented on #211
Thanks for your answer.
That's effectively what I did in the end, I created a stream from an `UnityWebRequest` and passed it instead of a string.

[2022-08-19 18:19] melanchall commented on #211
@Ghostmoonk So the problem is solved and the issue can be closed?

[2022-08-19 18:27] #211 closed

[2022-08-21 07:09] Ninjafox108 opened #214 "Midi Visualisation - Find all notes at current frame"
I'm very new to unity so this may be a problem with a simple solution, but nevertheless:

What is the best way to find all the notes (so you end up with a list of numbers) being played on any given frame.
I have tried this: `foreach (Note n in midiFile.GetNotes().AtTime<Note>(Time.time - startTime)) {}`
But that throws an error as the `AtTime()` Function requires a Long not a float.
if I try to co

[2022-08-21 19:18] Ninjafox108 commented on #214
It is worth saying that this is more likely something I don't know how to do than a problem with the software.

[2022-08-22 11:34] melanchall commented on #214
First of all, you can see example of how to use `Playback` in Unity here: https://melanchall.github.io/drywetmidi/articles/dev/Using-in-Unity.html#example.

Are you sure you want to get all notes every frame and search among all of them? Please see example at link above. You need to use `NotesPlaybackStarted` event of `Playback` to get information about currently played notes and doing some action

[2022-08-23 06:31] Ninjafox108 commented on #214
I would both like to know what notes a currently playing and what notes have started playing. Thanks for the link and functions

How long is a tick?

[2022-08-23 08:23] melanchall commented on #214
You just need to store notes in a list when they started playing and look into this list to know what notes are currently playing. And on notes finished playing, remove them from list. Right now you do a lot of calculations on every frame.

It depends on several things within a MIDI file. You should not think about them. Just use conversion API of the library.

[2022-08-23 08:25] Ninjafox108 commented on #214
Ok, Thanks for all the help

[2022-08-25 18:24] melanchall commented on #214
@Ninjafox108 any news?

[2022-08-26 05:53] Ninjafox108 commented on #214
Sorry, I have been working on a different part of the project, I will have a go today

[2022-09-06 14:59] Ninjafox108 commented on #214
I have had a go and I think I need to learn a bit more about unity and C# as a whole before giving this another go. Thank you for all the help.

[2022-09-06 14:59] #214 closed

[2022-09-07 16:27] arjOman opened #218 "NoteOn event fired even if I release the Note"
I have a Yamaha PSR-E473, connected through USB3. I was trying to listen to the NoteOff event, but it was never fired, even after releasing the key.

[2022-09-07 17:03] melanchall commented on #218
I suppose you use `InputDevice`. The class has [`SilentNoteOnPolicy`](https://melanchall.github.io/drywetmidi/api/Melanchall.DryWetMidi.Multimedia.InputDevice.html#Melanchall_DryWetMidi_Multimedia_InputDevice_SilentNoteOnPolicy) property which declares how _Note On_ event with zero velocity is handled. By default such events are treated as _Note On_ ones, i.e. as is.

My assumption your device sen

[2022-09-08 03:40] arjOman commented on #218
Hi, changing the property did help. Thank you!

[2022-09-08 03:40] #218 closed

[2022-10-11 16:11] tramper2 opened #224 "how to change instruments"
Hi!
now i'm using master-keyboard for midi input device.
and i want to change instrument when i want.
it is ok in NAudio as belows
but i don't know how can i change it in DryWetMidi
===== in NAudio ====

 string OutputDeviceName = "Microsoft GS Wavetable Synth";
 string inputDeviceName = "MPK mini 3";
.....
//change instruments
 public void ChangeChanelNumber(int ch)
    {
        switch (ch)

[2022-10-11 16:27] melanchall commented on #224
Hi,

Honestly I don't understand what's wrong with your code. Can you please explain where an error occurred on incorrect behavior or smth else?

If you about this line

[code]

you do here exactly the same actions as in NAudio code. So what's going wrong?

Also there is no need to set `DeltaTime` on event sending, it's ignored since an event will be sent immediately as you call `SendEvent`.

[2022-10-12 00:35] tramper2 commented on #224
Thanks for your reply

it is working in this way
i can hear changed instrument audio
============================
 if (Input.GetKeyDown(KeyCode.A))
        {
            _outputDevice.SendEvent(new NoteOnEvent((SevenBitNumber)60, (SevenBitNumber)120) { Channel = (FourBitNumber)chanelNumber});
            piano. Text = "A";
        }

==============================

_outputDevice.SendEvent(e.Event)

[2022-10-12 08:06] melanchall commented on #224
Well, just change the method to this:

[code]

This is equivalent of NAudio code you've provided me in your first message. In NAudio channel is a number from `1` to `16` and you always set it to `1`. But in DryWetMIDI channel is a number from `0` to `15`, so `1` in NAudio becomes `0` in DWM.

[2022-10-12 13:47] tramper2 commented on #224
Thanks

I've solved with this code

 var notevent = e.Event as NoteOnEvent;
        _outputDevice.SendEvent(new NoteOnEvent(notevent.NoteNumber, notevent.Velocity) { Channel = (FourBitNumber)chanelNumber });

but there are others problem again. such a violin, sounds keep going... i think there is some problem with velocity

[2022-10-12 13:47] tramper2 commented on #224
Thanks

I've solved with this code

 var noteOnevent = e.Event as NoteOnEvent;
        _outputDevice.SendEvent(new NoteOnEvent(noteOnevent.NoteNumber, noteOnevent.Velocity) { Channel = (FourBitNumber)chanelNumber });

but there are others problem again. such a violin, sounds keep going... i think there is some problem with velocity

[2022-10-12 13:53] #224 closed

[2022-10-21 13:50] sabihoshi opened #225 "`MergeObjects` does not have the same behavior as `MergeNotes`"
When I use the `MergeObjects` method, seemingly the notes disappear in my loaded MIDI file, instead of merging it properly. I used to use `MergeNotes` and it worked properly like so:
[code]
![image](https://user-images.githubusercontent.com/25006819/197211481-d6bd2080-198b-479a-956a-39e0e94d7c5d.png)

And with [Obsolete #17](https://melanchall.github.io/drywetmidi/obsolete/obsolete.html#obs17) it

[2022-10-21 14:10] melanchall commented on #225
Hi,

Please provide me a sample MIDI file to reproduce the error. I have unit tests on the method and they tell me that's all is OK. But obviously that's not true.

[2022-10-21 14:19] sabihoshi commented on #225
Here is the program I use with it https://github.com/sabihoshi/GenshinLyreMidiPlayer/blob/main/GenshinLyreMidiPlayer.WPF/ViewModels/LyrePlayerViewModel.cs#L380-L387

The MIDI is here https://www.nonstop2k.com/midi-files/15720-touhou-bad-applei-midi.html

[2022-10-21 14:25] melanchall commented on #225
Well, I'll take that MIDI file and then apply this command to it:

[code]

right?

Please say where to see bad merging result then? Also what's the value of `Settings.MergeMilliseconds`? Unfortunately I'm not a mindreader :) So provide me as many details as possible. What notes to look at, what you expect and what's wrong and so on. Thanks!

[2022-10-21 15:21] sabihoshi commented on #225
Hello, sorry for making not making it clear enough, so first of all the song when merged properly sounds like this https://youtu.be/Ly6LCHuuVFo?t=131.  That's with a setting of `10` milliseconds. That's with `MergeNotes` and it's the first image you see above.

With `MergeObjects`, the notes "seemingly" disappear as you can see with the 2nd image. Here is a minimal repro for it:
[code]

https://us

[2022-10-21 15:34] melanchall commented on #225
Thanks! I'll look into it.

[2022-10-21 16:59] melanchall commented on #225
I've found the bug in the code and fixed it. I'll provide you a prerelease NuGet package with the fix as soon as it will be built.

[2022-10-21 17:32] melanchall commented on #225
@sabihoshi [6.1.3-prerelease1](https://www.nuget.org/packages/Melanchall.DryWetMidi/6.1.3-prerelease1) version published, you can install it via NuGet.

[2022-10-21 19:12] sabihoshi commented on #225
It's working great, thank you!

[2022-10-21 19:12] #225 closed

[2022-10-23 16:00] melanchall commented on #225
:rocket: **6.1.3 version is released now!**

Prerelease NuGet packages will be unlisted soon, so please update the package references to the new version.

Thanks for using the library!

[2022-11-01 04:06] tramper2 opened #227 "Crash on Unity when editor stop"
i want to use touch piano so i made a VitualTouchPianoDevice : IInputDevice Class to get piano input
and i send Note on /off event to OutputDevice _outputDevice;
private void OnEventReceived(object sender, MidiEventReceivedEventArgs e)
    {
        _outputDevice.SendEvent(e.Event);
    }

everthing is working what i expecting but when i  click stop button in Unity Editor. it.s meet crash and unit

[2022-11-01 04:38] tramper2 commented on #227
oh i didn,t dispose device...

[2022-11-01 04:38] #227 closed

[2022-11-01 10:38] tramper2 opened #228 "How to combin 2 midifile?"
Hello~

i have a piano midi file and a drum midi file.

i want to combin two midi file into one midi file.

what is the best way?

Thanks Danny

[2022-11-01 12:19] tramper2 commented on #228
[Drum_pt4_4_hi-hats.zip](https://github.com/melanchall/drywetmidi/files/9909689/Drum_pt4_4_hi-hats.zip)
Hi
it is zip file and two midi file length is different.
Thanks

[2022-11-01 14:28] melanchall commented on #228
Unfortunately your files have different tempo maps (different time divisions, different tempo) so there is no way to merge files easily. Merging is possible but it's pretty complex algorithm to preserve both tempos and I have no time right now to implement it. I have such plans but for future releases.

In general you need to reduce both time divisions to least common multiple and handle all tempo

[2022-11-01 19:48] tramper2 commented on #228
oh i understand~
thanks!

[2022-11-01 19:48] #228 closed